Repository openstax/cnx-recipes, pull requests merged in 2019-12, with the labels that each got.

#1654 Images in all EoC exercises need to be styled in Biology for Ap Courses
  styles/output/_web-styles.json
  styles/output/ap-biology-pdf.css
  styles/output/ap-biology-pdf.css.map
  styles/output/ap-biology-rex-web.css
  styles/output/ap-biology-rex-web.css.map
  styles/output/apbiology-pdf.css
  styles/output/apbiology-pdf.css.map
  styles/output/apbiology-rex-web.css
  styles/output/apbiology-rex-web.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/biology-rex-web.css
  styles/output/biology-rex-web.css.map
  styles/templates/template1/parts/_eoc-settings.scss
Labels: book:ap.biology

#1642 Add margin to lists in tables in Biology 2e
  styles/designs/carnival/parts/_table-components.scss
  styles/designs/carnival/parts/_table-shapes.scss
  styles/output/_web-styles.json
  styles/output/ap-biology-pdf.css
  styles/output/ap-biology-pdf.css.map
  styles/output/ap-biology-rex-web.css
  styles/output/ap-biology-rex-web.css.map
  styles/output/apbiology-pdf.css
  styles/output/apbiology-pdf.css.map
  styles/output/apbiology-rex-web.css
  styles/output/apbiology-rex-web.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/biology-rex-web.css
  styles/output/biology-rex-web.css.map
  styles/output/chemistry-pdf.css
  styles/output/chemistry-pdf.css.map
  styles/output/chemistry-rex-web.css
  styles/output/chemistry-rex-web.css.map
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
  styles/output/microbiology-rex-web.css
  styles/output/microbiology-rex-web.css.map
  styles/templates/template1/parts/_table-settings.scss
Labels: book:biology.2e

#1649 Freeze recipes
  books.txt
  recipes/output/accounting-prod.css
  recipes/output/american-government-prod.css
  recipes/output/anatomy-prod.css
  recipes/output/ap-biology-prod.css
  recipes/output/ap-history-prod.css
  recipes/output/ap-physics-prod.css
  recipes/output/astronomy-prod.css
  recipes/output/biology-prod.css
  recipes/output/business-ethics-prod.css
  recipes/output/calculus-prod.css
  recipes/output/chemistry-prod.css
  recipes/output/college-success-prod.css
  recipes/output/dev-math-prod.css
  recipes/output/economics-prod.css
  recipes/output/entrepreneurship-prod.css
  recipes/output/history-prod.css
  recipes/output/hs-physics-prod.css
  recipes/output/intro-business-prod.css
  recipes/output/manifest.json
  recipes/output/microbiology-prod.css
  recipes/output/physics-prod.css
  recipes/output/pl-u-physics-prod.css
  recipes/output/precalculus-prod.css
  recipes/output/principles-management-prod.css
  recipes/output/psychology-prod.css
  recipes/output/sociology-prod.css
  recipes/output/statistics-prod.css
  recipes/output/u-physics-prod.css
  script/bake-book
  script/build-pdf
  script/build-styles
  styles/books/ap-biology/book.scss
  styles/output/_web-styles.json
  styles/output/ap-biology-pdf.css
  styles/output/ap-biology-pdf.css.map
  styles/output/ap-biology-rex-web.css
  styles/output/ap-biology-rex-web.css.map
Labels: review:Alan, review:Helene

#1676 apbiology: set table layout width two column exercices
  styles/designs/carnival/parts/_eoc-components.scss
  styles/designs/carnival/parts/_eoc-shapes.scss
  styles/output/_web-styles.json
  styles/output/ap-biology-pdf.css
  styles/output/ap-biology-pdf.css.map
  styles/output/ap-biology-rex-web.css
  styles/output/ap-biology-rex-web.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/biology-rex-web.css
  styles/output/biology-rex-web.css.map
  styles/templates/template1/parts/_eoc-settings.scss
Labels: book:ap.biology

#1693 apbiology: fix table width padding exercises apbiology
  styles/designs/carnival/parts/_eoc-components.scss
  styles/designs/carnival/parts/_eoc-shapes.scss
  styles/output/_web-styles.json
  styles/output/ap-biology-pdf.css
  styles/output/ap-biology-pdf.css.map
  styles/output/ap-biology-rex-web.css
  styles/output/ap-biology-rex-web.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/biology-rex-web.css
  styles/output/biology-rex-web.css.map
  styles/templates/template1/parts/_eoc-settings.scss
Labels: book:ap.biology

#1662 u physics vol1: add style to Preface
  styles/books/u-physics/book.scss
  styles/output/_web-styles.json
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
  styles/output/u-physics-rex-web.css
  styles/output/u-physics-rex-web.css.map
Labels: book:university.physics

#1670 u-physics-vol1: add style to links terms
  styles/books/u-physics/book.scss
  styles/output/_web-styles.json
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
  styles/output/u-physics-rex-web.css
  styles/output/u-physics-rex-web.css.map
Labels: book:university.physics

#1672 u-physics: add style to index u-physics
  styles/books/u-physics/book.scss
  styles/output/_web-styles.json
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
  styles/output/u-physics-rex-web.css
  styles/output/u-physics-rex-web.css.map
Labels: book:university.physics

#1674 u-physics-vol1: add style to footnotes
  styles/books/u-physics/book.scss
  styles/output/_web-styles.json
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
  styles/output/u-physics-rex-web.css
  styles/output/u-physics-rex-web.css.map
Labels: book:university.physics

#1702 u-physics: add style chapter module
  styles/books/u-physics/book.scss
  styles/output/_web-styles.json
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
  styles/output/u-physics-rex-web.css
  styles/output/u-physics-rex-web.css.map
Labels: book:university.physics, review:Alan
