Repository openstax/cnx-recipes, pull requests merged in 2019-03, with the labels that each got.

#843 feat: build all the styles and report coverage
  books.txt
  concourse/task-styleguide.bash
  package.json
  script/build-guide
  script/build-styles
  script/ci
  script/test
  script/test-styles
  styles/books/intro-business/tests/baked-min-snippet-intro-business.xhtml
  styles/books/intro-business/tests/generic.xhtml
  styles/books/intro-business/tests/normalize-css.xhtml
  styles/framework/mixins/_tables.scss
  styles/output/intro-business.css
  styles/output/intro-business.css.map
  yarn.lock
Labels: review:BrittanyJ, review:Helene, review:Thomas, status:no.qa

#895 Fix cnx-recipes installation in docker container
  Dockerfile
  script/bootstrap
Labels: status:no.qa

#929 Separate lines for each book in release flags
  RELEASE_FLAGS.md
  recipes/books/_release.scss
Labels: status:no.qa

#937 Remove composite-eoc release flag
  recipes/books/_release.scss
  recipes/mixins/_modify.scss
  recipes/mixins/_toc.scss
Labels: review:BrittanyJ, status:no.qa

#934 added reset at module to try it notes in precalc books
  recipes/books/_generator.scss
  recipes/books/precalculus/_config.scss
  recipes/mixins/_count.scss
  recipes/output/precalculus.css
Labels: book:algebra.trigonometry, book:college.algebra, book:precalculus, review:Helene

#928 fixed numbering of examples inside sections
  recipes/books/_generator.scss
  recipes/books/precalculus/_config.scss
  recipes/mixins/_count.scss
  recipes/output/precalculus.css
Labels: book:algebra.trigonometry, book:college.algebra, book:precalculus

#953 Build script w/ nodejs
  books.txt
  js/build-style/build-style.js
  script/build-styles
  script/test-styles
  styles/books/intro-business/book.scss
  styles/framework/base.scss
  styles/framework/config/_color-scheme.scss
  styles/framework/import-style.scss
  styles/framework/style/eob.scss
  styles/framework/style/eoc.scss
  styles/framework/style/modules.scss
  styles/framework/style/notes.scss
  styles/output/intro-business-2.css
  styles/output/intro-business-2.css.map
  styles/output/intro-business-pdf.css
  styles/output/intro-business-pdf.css.map
  styles/output/intro-business-rex-web.css
  styles/output/intro-business-rex-web.css.map
  styles/output/intro-business.css.map
  styles/platforms/none/platform.scss
  styles/platforms/pdf/paged.scss
  styles/platforms/pdf/platform.scss
  styles/platforms/rex-web/platform.scss
  styles/ruby/functions.rb
  styles/themes/theme3/config/_color-scheme.scss
Labels: baked.styles, framework

#935 fixed numering of the figures
  FEATURES.md
  recipes/README.md
  recipes/books/_common-stuff.scss
  recipes/books/_example/_config.scss
  recipes/books/_feature.scss
  recipes/books/_generator.scss
  recipes/books/accounting/_config.scss
  recipes/books/ap-physics/_config.scss
  recipes/books/biology/_config.scss
  recipes/books/dev-math/_config.scss
  recipes/books/economics/_config.scss
  recipes/books/hs-physics/_config.scss
  recipes/books/physics/_config.scss
  recipes/books/precalculus/_config.scss
  recipes/books/statistics/_config.scss
  recipes/books/u-physics/_config.scss
  recipes/output/precalculus.css
Labels: book:algebra.trigonometry, book:college.algebra, book:precalculus

#957 changed numbering of figures within modules
  recipes/books/_generator.scss
  recipes/books/precalculus/_config.scss
  recipes/mixins/_count.scss
  recipes/output/precalculus.css
Labels: book:algebra.trigonometry, book:college.algebra, book:precalculus

#972 fixed section exercises numbering, added RESET_SECTION option
  recipes/README.md
  recipes/books/_generator.scss
  recipes/books/precalculus/_config.scss
  recipes/mixins/_enums.scss
  recipes/output/precalculus.css
Labels: book:algebra.trigonometry, book:college.algebra, book:precalculus

#978 removed unnecessary heading
  recipes/books/precalculus/_config.scss
  recipes/output/precalculus.css
Labels: book:algebra.trigonometry, book:college.algebra, book:precalculus, review:Helene

#977 changed table numbering within sections
  recipes/books/_generator.scss
  recipes/books/precalculus/_config.scss
  recipes/mixins/_count.scss
  recipes/output/precalculus.css
Labels: book:algebra.trigonometry, book:college.algebra, book:precalculus, review:Helene

#980 added learning objective heading
  recipes/books/precalculus/_config.scss
  recipes/output/precalculus.css
Labels: book:algebra.trigonometry, book:college.algebra, book:precalculus, review:Helene

#979 added section headers to key concepts
  recipes/books/precalculus/_config.scss
  recipes/output/precalculus.css
Labels: book:algebra.trigonometry, book:college.algebra, book:precalculus, review:Helene
