Repository openstax/cnx-recipes, pull requests merged in 2019-11, with the labels that each got.

#1569 Style figures in Biology
  styles/books/biology/book.scss
  styles/output/_web-styles.json
  styles/output/apbiology-pdf.css
  styles/output/apbiology-pdf.css.map
  styles/output/apbiology-rex-web.css
  styles/output/apbiology-rex-web.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/biology-rex-web.css
  styles/output/biology-rex-web.css.map
Labels: review: Natalia

#1572 enable goodbye-warnings biology
  RELEASE_FLAGS.md
  recipes/books/_release.scss
  recipes/output/biology.css
  styles/output/_web-styles.json
Labels: book:biology.2e

#1554 Add missing styles in Biology
  styles/books/biology/book.scss
  styles/designs/carnival/parts/_preface-components.scss
  styles/designs/carnival/parts/_table-components.scss
  styles/designs/carnival/parts/_table-shapes.scss
  styles/output/_web-styles.json
  styles/output/anatomy-pdf.css
  styles/output/anatomy-pdf.css.map
  styles/output/anatomy-rex-web.css
  styles/output/anatomy-rex-web.css.map
  styles/output/apbiology-pdf.css
  styles/output/apbiology-pdf.css.map
  styles/output/apbiology-rex-web.css
  styles/output/apbiology-rex-web.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/biology-rex-web.css
  styles/output/biology-rex-web.css.map
  styles/output/chemistry-pdf.css
  styles/output/chemistry-pdf.css.map
  styles/output/chemistry-rex-web.css
  styles/output/chemistry-rex-web.css.map
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
  styles/output/microbiology-rex-web.css
  styles/output/microbiology-rex-web.css.map
  styles/output/physics-pdf.css
  styles/output/physics-pdf.css.map
  styles/output/physics-rex-web.css
  styles/output/physics-rex-web.css.map
Labels: book:ap.biology, book:biology.2e

#1575 Disable toc flags apbiology
  RELEASE_FLAGS.md
  recipes/books/_release.scss
  recipes/output/ap-biology.css
Labels: review: Natalia, review:Helene

#1573 Enable all flags in physics
  RELEASE_FLAGS.md
  recipes/books/_release.scss
  recipes/output/physics.css
  styles/output/_web-styles.json
Labels: review:Anna

#1584 Add style to footnotes in Biology 2e
  styles/books/biology/book.scss
  styles/output/_web-styles.json
  styles/output/apbiology-pdf.css
  styles/output/apbiology-pdf.css.map
  styles/output/apbiology-rex-web.css
  styles/output/apbiology-rex-web.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/biology-rex-web.css
  styles/output/biology-rex-web.css.map
Labels: book:biology.2e

#1600 Change color to book specific for Evolution Connection note in Biology 2e
  styles/output/_web-styles.json
  styles/output/apbiology-pdf.css
  styles/output/apbiology-rex-web.css
  styles/output/biology-pdf.css
  styles/output/biology-rex-web.css
  styles/templates/template1/_colors.scss
Labels: review: Natalia, review:BrittanyJ, review:Helene

#1593 Bilogy 2e: add style link to learning
  styles/books/biology/book.scss
  styles/output/_web-styles.json
  styles/output/apbiology-pdf.css
  styles/output/apbiology-pdf.css.map
  styles/output/apbiology-rex-web.css
  styles/output/apbiology-rex-web.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/biology-rex-web.css
  styles/output/biology-rex-web.css.map
Labels: book:biology.2e

#1515 Enable appendix-has-numbered-examples in Anatomy
  RELEASE_FLAGS.md
  recipes/books/_generator.scss
  recipes/books/_release.scss
  recipes/mixins/_number.scss
  recipes/output/anatomy.css
Labels: baked.styles, book:anatomy.and.physiology, review:Anna, review:BrittanyJ

#1590 Biology: add book specific color to Learning Objective Abstract
  styles/books/biology/book.scss
  styles/output/_web-styles.json
  styles/output/apbiology-pdf.css
  styles/output/apbiology-pdf.css.map
  styles/output/apbiology-rex-web.css
  styles/output/apbiology-rex-web.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/biology-rex-web.css
  styles/output/biology-rex-web.css.map
Labels: book:biology.2e, review:BrittanyJ

#1586 Biology 2e: add style to eoc
  styles/books/biology/book.scss
  styles/output/_web-styles.json
  styles/output/apbiology-pdf.css
  styles/output/apbiology-pdf.css.map
  styles/output/apbiology-rex-web.css
  styles/output/apbiology-rex-web.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/biology-rex-web.css
  styles/output/biology-rex-web.css.map
  styles/templates/template1/parts/_eoc-settings.scss
Labels: book:biology.2e, review:Helene

#1609 enable all feature flags in apbiology
  RELEASE_FLAGS.md
  recipes/books/_release.scss
  recipes/output/ap-biology.css
Labels: book:ap.biology

#1611 Add style to terms in Biology 2e
  styles/books/biology/book.scss
  styles/output/_web-styles.json
  styles/output/apbiology-pdf.css
  styles/output/apbiology-pdf.css.map
  styles/output/apbiology-rex-web.css
  styles/output/apbiology-rex-web.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/biology-rex-web.css
  styles/output/biology-rex-web.css.map
Labels: book:biology.2e, review:BrittanyJ

#1614 Decrease padding-bottom in footnotes
  styles/output/_web-styles.json
  styles/output/apbiology-pdf.css
  styles/output/apbiology-pdf.css.map
  styles/output/apbiology-rex-web.css
  styles/output/apbiology-rex-web.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/biology-rex-web.css
  styles/output/biology-rex-web.css.map
  styles/output/chemistry-pdf.css
  styles/output/chemistry-pdf.css.map
  styles/output/chemistry-rex-web.css
  styles/output/chemistry-rex-web.css.map
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
  styles/output/microbiology-rex-web.css
  styles/output/microbiology-rex-web.css.map
  styles/templates/template1/parts/_footnotes-settings.scss
Labels: review:Helene

#1587 Style Introduction page in Physics
  RELEASE_FLAGS.md
  recipes/books/_release.scss
  recipes/output/physics.css
  styles/books/physics/book.scss
  styles/designs/carnival/parts/_chapterintro-components.scss
  styles/designs/carnival/parts/_chapterintro-shapes.scss
  styles/output/_web-styles.json
  styles/output/physics-pdf.css
  styles/output/physics-pdf.css.map
  styles/output/physics-rex-web.css
  styles/output/physics-rex-web.css.map
  styles/templates/template1/_colors.scss
Labels: review:Alan, review:Anna

#1619 Style equations
  styles/books/chemistry/book.scss
  styles/books/physics/book.scss
  styles/designs/carnival/parts/_equation-components.scss
  styles/designs/carnival/parts/_equation-shapes.scss
  styles/output/_web-styles.json
  styles/output/anatomy-pdf.css.map
  styles/output/anatomy-rex-web.css.map
  styles/output/apbiology-pdf.css.map
  styles/output/apbiology-rex-web.css.map
  styles/output/biology-pdf.css.map
  styles/output/biology-rex-web.css.map
  styles/output/chemistry-pdf.css
  styles/output/chemistry-pdf.css.map
  styles/output/chemistry-rex-web.css
  styles/output/chemistry-rex-web.css.map
  styles/output/microbiology-pdf.css.map
  styles/output/microbiology-rex-web.css.map
  styles/output/physics-pdf.css
  styles/output/physics-pdf.css.map
  styles/output/physics-rex-web.css
  styles/output/physics-rex-web.css.map
  styles/templates/template1/_design.scss
  styles/templates/template1/_settings.scss
  styles/templates/template1/parts/_equation-settings.scss
Labels: review:Alan

#1639 add styles to equations biology
  styles/books/biology/book.scss
  styles/output/_web-styles.json
  styles/output/apbiology-pdf.css
  styles/output/apbiology-pdf.css.map
  styles/output/apbiology-rex-web.css
  styles/output/apbiology-rex-web.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/biology-rex-web.css
  styles/output/biology-rex-web.css.map
Labels: book:biology.2e

#1634 Images exercies apbiology
  styles/designs/carnival/parts/_eoc-components.scss
  styles/designs/carnival/parts/_eoc-shapes.scss
  styles/output/_web-styles.json
  styles/output/apbiology-pdf.css
  styles/output/apbiology-pdf.css.map
  styles/output/apbiology-rex-web.css
  styles/output/apbiology-rex-web.css.map
  styles/templates/template1/parts/_eoc-settings.scss
Labels: book:biology.2e

#1636 Update README.md
  styles/README.md
Labels: review:Helene
