Repository openstax/cnx-recipes, pull requests merged in 2019-04, with the labels that each got.

#967 914 hint in checkpoint
  recipes/books/_common-stuff.scss
  recipes/books/_generator.scss
  recipes/books/calculus/_config.scss
  recipes/mixins/_modify.scss
  recipes/output/calculus.css
Labels: book:calculus

#965 Titles in example
  RELEASE_FLAGS.md
  recipes/books/_release.scss
  recipes/mixins/_modify.scss
  recipes/output/calculus.css
Labels: book:calculus

#940 Numbered list in abstract
  RELEASE_FLAGS.md
  recipes/books/_generator.scss
  recipes/books/_release.scss
  recipes/books/calculus/_config.scss
  recipes/books/chemistry/_config.scss
  recipes/books/dev-math/_config.scss
  recipes/mixins/_modify.scss
  recipes/output/calculus.css
Labels: book:calculus

#992 904 eoc figures
  recipes/mixins/_count.scss
  recipes/output/precalculus.css
Labels: book:algebra.trigonometry, book:college.algebra, book:precalculus, review:BrittanyJ, review:Helene

#991 added chapter outline
  recipes/books/precalculus/_config.scss
  recipes/output/precalculus.css
Labels: book:algebra.trigonometry, book:college.algebra, book:precalculus, review:BrittanyJ, review:Helene

#988 bolded titles in examples
  RELEASE_FLAGS.md
  recipes/books/_release.scss
  recipes/mixins/_modify.scss
  recipes/output/precalculus.css
Labels: book:algebra.trigonometry, book:college.algebra, book:precalculus, review:BrittanyJ

#994 changed the numbering of links to examples
  recipes/books/_generator.scss
  recipes/books/precalculus/_config.scss
  recipes/output/precalculus.css
Labels: book:algebra.trigonometry, book:college.algebra, book:precalculus, review:BrittanyJ, review:Helene

#987 fixed EOC exercise numbering to be reseted at composite page
  recipes/books/_generator.scss
  recipes/output/precalculus.css
Labels: book:algebra.trigonometry, book:college.algebra, book:precalculus

#1006 fixed tables numbering and links' to tables numbering
  recipes/books/precalculus/_config.scss
  recipes/mixins/_count.scss
  recipes/output/precalculus.css
Labels: book:algebra.trigonometry, book:college.algebra, book:precalculus
