Repository openstax/cnx-recipes, pull requests merged in 2019-05, with the labels that each got.

#1062 1060 use unnumbered elements
  recipes/README.md
  recipes/books/_common-stuff.scss
  recipes/books/_example/_config.scss
  recipes/books/_generator.scss
  recipes/books/accounting/_config.scss
  recipes/books/ap-physics/_config.scss
  recipes/books/biology/_config.scss
  recipes/books/dev-math/_config.scss
  recipes/books/economics/_config.scss
  recipes/books/hs-physics/_config.scss
  recipes/books/physics/_config.scss
  recipes/books/precalculus/_config.scss
  recipes/books/statistics/_config.scss
  recipes/books/u-physics/_config.scss
  recipes/output/ap-physics.css
  recipes/output/physics.css
Labels: status:no.qa

#1014 Trash selected element
  RELEASE_FLAGS.md
  recipes/books/_common-stuff.scss
  recipes/books/_generator.scss
  recipes/books/_release.scss
  recipes/books/anatomy/_config.scss
  recipes/books/u-physics/_config.scss
  recipes/output/anatomy.css
  recipes/output/u-physics.css
Labels: book:calculus

#1069 #936 Add section titles to Summaries
  recipes/books/intro-business/_config.scss
  recipes/output/intro-business.css
Labels: book:introduction.business

#986 #921 link to theorem
  recipes/books/_common-stuff.scss
  recipes/books/_generator.scss
  recipes/books/calculus/_config.scss
  recipes/mixins/_link.scss
  recipes/output/calculus.css
Labels: book:calculus

#854 Calculus recipe 631
  RELEASE_FLAGS.md
  books.txt
  recipes/books/_common-stuff.scss
  recipes/books/_generator.scss
  recipes/books/_release.scss
  recipes/books/calculus/_config.scss
  recipes/books/calculus/book.scss
  recipes/books/calculus/styleguide/book.composite.key-concepts.snippet.xml
  recipes/books/calculus/styleguide/book.composite.key-equations.snippet.xml
  recipes/books/calculus/styleguide/book.composite.key-terms.snippet.xml
  recipes/books/calculus/styleguide/book.composite.review-exercises.snippet.xml
  recipes/books/calculus/styleguide/page.note.checkpoint.snippet.xml
  recipes/books/calculus/styleguide/page.note.media.snippet.xml
  recipes/books/calculus/styleguide/page.note.student-project.snippet.xml
  recipes/books/calculus/styleguide/page.note.theorem.snippet.xml
  recipes/books/chemistry/_config.scss
  recipes/books/dev-math/_config.scss
  recipes/mixins/_link.scss
  recipes/mixins/_modify.scss
  recipes/output/calculus.css
  recipes/output/manifest.json
Labels: book:calculus

#1067 #897 Style headers in Check Your Understanding
  recipes/books/physics/_config.scss
  recipes/output/physics.css
Labels: book:college.physics
