Repository openstax/cnx-recipes, pull requests merged in 2020-03, with the labels that each got.

#1970 reduce margin-bottom link to learning biology
  styles/designs/carnival/parts/notes/_notes-components.scss
  styles/designs/carnival/parts/notes/_notes-iconCondensed-shapes.scss
  styles/output/anatomy-pdf.css
  styles/output/anatomy-pdf.css.map
  styles/output/ap-biology-pdf.css
  styles/output/ap-biology-pdf.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/chemistry-pdf.css
  styles/output/chemistry-pdf.css.map
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
  styles/output/physics-pdf.css
  styles/output/physics-pdf.css.map
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
Labels: book:biology.2e

#1976 u-physics: subtitled-examples flag
  recipes/mixins/_modify.scss
  recipes/output/ap-biology.css
  recipes/output/ap-physics.css
  recipes/output/biology.css
  recipes/output/hs-physics.css
  recipes/output/physics.css
  recipes/output/u-physics.css
Labels: book:university.physics, review:Alan

#1987 add page brak to learning objectives in Chemistry
  styles/designs/common/pdf/_page-breaks.scss
  styles/output/anatomy-pdf.css
  styles/output/anatomy-pdf.css.map
  styles/output/ap-biology-pdf.css
  styles/output/ap-biology-pdf.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/chemistry-pdf.css
  styles/output/chemistry-pdf.css.map
  styles/output/hs-physics-pdf.css
  styles/output/hs-physics-pdf.css.map
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
  styles/output/physics-pdf.css
  styles/output/physics-pdf.css.map
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
Labels: book:chemistry.2e, book:chemistry.atoms.first.2e

#1974 Another page break update
  styles/designs/common/pdf/_page-breaks.scss
  styles/output/anatomy-pdf.css
  styles/output/anatomy-pdf.css.map
  styles/output/ap-biology-pdf.css
  styles/output/ap-biology-pdf.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/chemistry-pdf.css
  styles/output/chemistry-pdf.css.map
  styles/output/hs-physics-pdf.css
  styles/output/hs-physics-pdf.css.map
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
  styles/output/physics-pdf.css
  styles/output/physics-pdf.css.map
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
Labels: review:Alan, review:Helene

#1990 unstyle stepwise lists chemistry
  styles/designs/common/pdf/_common-styles.scss
  styles/output/anatomy-pdf.css
  styles/output/anatomy-pdf.css.map
  styles/output/ap-biology-pdf.css
  styles/output/ap-biology-pdf.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/chemistry-pdf.css
  styles/output/chemistry-pdf.css.map
  styles/output/hs-physics-pdf.css
  styles/output/hs-physics-pdf.css.map
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
  styles/output/physics-pdf.css
  styles/output/physics-pdf.css.map
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
Labels: book:chemistry.2e

#1988 decrease font size footnotes
  styles/output/ap-biology-pdf.css
  styles/output/ap-biology-pdf.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/chemistry-pdf.css
  styles/output/chemistry-pdf.css.map
  styles/output/hs-physics-pdf.css
  styles/output/hs-physics-pdf.css.map
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
  styles/output/physics-pdf.css
  styles/output/physics-pdf.css.map
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
  styles/templates/template1/parts/_footnotes-settings.scss
Labels: book:chemistry.2e, book:microbiology

#2014 Section title links College Physics
  styles/designs/carnival/parts/_eoc-components.scss
  styles/designs/carnival/parts/_eoc-shapes.scss
  styles/output/ap-biology-pdf.css
  styles/output/ap-biology-pdf.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/hs-physics-pdf.css
  styles/output/hs-physics-pdf.css.map
  styles/output/physics-pdf.css
  styles/output/physics-pdf.css.map
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
  styles/templates/template1/parts/_eoc-settings.scss
Labels: book:college.physics

#2029 remove margin first paragraph boxed condensed note shape
  styles/designs/carnival/parts/notes/_notes-boxedCondensed-shapes.scss
  styles/designs/carnival/parts/notes/_notes-components.scss
  styles/output/hs-physics-pdf.css
  styles/output/hs-physics-pdf.css.map
Labels: book:physics

#2031 fullwidth chapter outline hsphysics
  styles/books/hs-physics/book.scss
  styles/output/hs-physics-pdf.css
  styles/output/hs-physics-pdf.css.map
Labels: book:physics, review:Alan

#2027 Folio for Introduction
  styles/designs/common/pdf/_folio.scss
  styles/output/anatomy-pdf.css
  styles/output/anatomy-pdf.css.map
  styles/output/ap-biology-pdf.css
  styles/output/ap-biology-pdf.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/chemistry-pdf.css
  styles/output/chemistry-pdf.css.map
  styles/output/hs-physics-pdf.css
  styles/output/hs-physics-pdf.css.map
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
  styles/output/physics-pdf.css
  styles/output/physics-pdf.css.map
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
Labels: review:Anna

#2033 Add slice everywhere! 🔪
  styles/designs/carnival/parts/notes/_notes-boxed-shapes.scss
  styles/designs/carnival/parts/notes/_notes-components.scss
  styles/designs/carnival/parts/notes/_notes-logo-shapes.scss
  styles/output/anatomy-pdf.css
  styles/output/anatomy-pdf.css.map
  styles/output/ap-biology-pdf.css
  styles/output/ap-biology-pdf.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/chemistry-pdf.css
  styles/output/chemistry-pdf.css.map
  styles/output/hs-physics-pdf.css
  styles/output/hs-physics-pdf.css.map
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
  styles/output/physics-pdf.css
  styles/output/physics-pdf.css.map
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
Labels: review:Anna

#2037 Enable Top Titled Table Styling for ColSu
  recipes/books/college-success/_config.scss
  recipes/output/college-success.css
Labels: book:college.success, review:BrittanyJ

#2012 Eoc microbiology
  styles/books/microbiology/book.scss
  styles/books/u-physics/book.scss
  styles/designs/carnival/parts/_eoc-components.scss
  styles/designs/carnival/parts/_eoc-shapes.scss
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
  styles/templates/template1/parts/_eoc-settings.scss
Labels: book:microbiology

#2044 clean lists
  styles/designs/carnival/parts/_answerkey-components.scss
  styles/designs/carnival/parts/_appendix-components.scss
  styles/designs/carnival/parts/_appendix-shapes.scss
  styles/designs/carnival/parts/_eoc-components.scss
  styles/designs/carnival/parts/_eoc-shapes.scss
  styles/designs/carnival/parts/_exercises-components.scss
  styles/designs/carnival/parts/_exercises-shapes.scss
  styles/designs/carnival/parts/_lists-components.scss
  styles/designs/carnival/parts/_module-components.scss
  styles/designs/carnival/parts/_module-shapes.scss
  styles/designs/carnival/parts/_preface-components.scss
  styles/designs/carnival/parts/_preface-shapes.scss
  styles/designs/carnival/parts/notes/_notes-boxed-shapes.scss
  styles/designs/carnival/parts/notes/_notes-components.scss
  styles/designs/carnival/parts/notes/_notes-icon-shapes.scss
  styles/designs/carnival/parts/notes/_notes-iconCondensed-shapes.scss
  styles/output/anatomy-pdf.css
  styles/output/anatomy-pdf.css.map
  styles/output/ap-biology-pdf.css
  styles/output/ap-biology-pdf.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/chemistry-pdf.css
  styles/output/chemistry-pdf.css.map
  styles/output/hs-physics-pdf.css
  styles/output/hs-physics-pdf.css.map
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
  styles/output/physics-pdf.css
  styles/output/physics-pdf.css.map
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
  styles/templates/template1/parts/_eoc-settings.scss
  styles/templates/template1/parts/_exercises-settings.scss
Labels: baked.styles, review:Helene

#2067 Enable all release flags in carnival theme
  RELEASE_FLAGS.md
  recipes/books/_release.scss
  recipes/output/anatomy.css
  recipes/output/ap-biology.css
  recipes/output/chemistry.css
  recipes/output/microbiology.css
Labels: review:Anna

#2055 add styles to summary appendix terms microbiology
  styles/books/microbiology/book.scss
  styles/designs/carnival/parts/_eoc-shapes.scss
  styles/output/anatomy-pdf.css
  styles/output/anatomy-pdf.css.map
  styles/output/chemistry-pdf.css
  styles/output/chemistry-pdf.css.map
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
  styles/templates/template1/parts/_eoc-settings.scss
Labels: book:microbiology

#2076 footnotes
  recipes/mixins/_count.scss
  recipes/mixins/_number.scss
  recipes/output/biology.css
  recipes/output/hs-physics.css
  recipes/output/physics.css
  styles/books/anatomy/book.scss
  styles/books/ap-biology/book.scss
  styles/books/biology/book.scss
  styles/books/chemistry/book.scss
  styles/books/hs-physics/book.scss
  styles/books/microbiology/book.scss
  styles/books/physics/book.scss
  styles/designs/carnival/parts/_footnotes-components.scss
  styles/designs/carnival/parts/_footnotes-shapes.scss
  styles/output/anatomy-pdf.css
  styles/output/anatomy-pdf.css.map
  styles/output/ap-biology-pdf.css
  styles/output/ap-biology-pdf.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/chemistry-pdf.css
  styles/output/chemistry-pdf.css.map
  styles/output/hs-physics-pdf.css
  styles/output/hs-physics-pdf.css.map
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
  styles/output/physics-pdf.css
  styles/output/physics-pdf.css.map
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
  styles/templates/template1/parts/_footnotes-settings.scss
Labels: review: Natalia, review:Anna, review:Helene

#2077 fullwidth chapter intro
  styles/books/microbiology/book.scss
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
Labels: book:microbiology

#2104 style footnote calls
  recipes/output/biology.css
  styles/designs/carnival/parts/_footnotes-components.scss
  styles/output/ap-biology-pdf.css
  styles/output/ap-biology-pdf.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/chemistry-pdf.css
  styles/output/chemistry-pdf.css.map
  styles/output/hs-physics-pdf.css
  styles/output/hs-physics-pdf.css.map
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
  styles/output/physics-pdf.css
  styles/output/physics-pdf.css.map
  styles/templates/template1/parts/_footnotes-settings.scss
Labels: review: Natalia, review:Anna, review:Helene

#2103 add fullwidth chapter intro uphysics
  styles/books/u-physics/book.scss
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
Labels: book:university.physics
