Repository openstax/cnx-recipes, pull requests merged in 2020-11, with the labels that each got.

#2891 style no class tables business law
  styles/books/business-ethics/book.scss
  styles/designs/cardboard/parts/_table-shapes.scss
  styles/output/business-ethics-pdf.css
  styles/output/business-ethics-pdf.css.map
  styles/templates/template3/parts/_table-settings.scss
Labels: book:business.law

#2908 Style headers intro business
  styles/books/intro-business/book.scss
  styles/designs/cardboard/parts/_titles-shapes.scss
  styles/output/business-ethics-pdf.css
  styles/output/business-ethics-pdf.css.map
  styles/output/intro-business-pdf.css
  styles/output/intro-business-pdf.css.map
Labels: book:introduction.business

#2914 Implement splash figure chapter outline
  styles/books/business-ethics/book.scss
  styles/books/intro-business/book.scss
  styles/designs/cardboard/parts/_caption-components.scss
  styles/output/business-ethics-pdf.css
  styles/output/business-ethics-pdf.css.map
  styles/output/intro-business-pdf.css
  styles/output/intro-business-pdf.css.map
  styles/templates/template3/parts/_chapterintro-settings.scss
  styles/templates/template3/parts/_figureimage-settings.scss
  styles/templates/template3/parts/_table-settings.scss
Labels: book:business.ethics, book:business.law, book:introduction.business

#2919 implement footnotes link blockquote
  styles/books/intro-business/book.scss
  styles/output/intro-business-pdf.css
  styles/output/intro-business-pdf.css.map
Labels: book:introduction.business

#2922 style exploring business careers note intro business
  styles/books/intro-business/book.scss
  styles/designs/cardboard/parts/notes/_notes-boxed-shapes.scss
  styles/designs/cardboard/parts/notes/_notes-components.scss
  styles/output/business-ethics-pdf.css
  styles/output/business-ethics-pdf.css.map
  styles/output/intro-business-pdf.css
  styles/output/intro-business-pdf.css.map
  styles/templates/template3/_colors.scss
Labels: review: Natalia

#2926 implement tables intro business
  styles/books/intro-business/book.scss
  styles/designs/cardboard/parts/_table-components.scss
  styles/designs/cardboard/parts/_table-shapes.scss
  styles/output/business-ethics-pdf.css
  styles/output/business-ethics-pdf.css.map
  styles/output/intro-business-pdf.css
  styles/output/intro-business-pdf.css.map
  styles/templates/template3/_colors.scss
  styles/templates/template3/parts/_table-settings.scss
Labels: book:introduction.business

#2927 style icon boxed note business intro
  styles/books/intro-business/book.scss
  styles/designs/cardboard/parts/_lists-shapes.scss
  styles/designs/cardboard/parts/notes/_notes-components.scss
  styles/designs/cardboard/parts/notes/_notes-iconBoxed-shapes.scss
  styles/designs/cardboard/resources/cardboard-grouplight.svg
  styles/output/business-ethics-pdf.css
  styles/output/business-ethics-pdf.css.map
  styles/output/intro-business-pdf.css
  styles/output/intro-business-pdf.css.map
  styles/templates/template3/_design.scss
Labels: book:introduction.business

#2929 Rest of the Icon Boxed notes Intro Business
  styles/books/intro-business/book.scss
  styles/designs/cardboard/parts/notes/_notes-components.scss
  styles/designs/cardboard/resources/cardboard-check.svg
  styles/designs/cardboard/resources/cardboard-globe.svg
  styles/designs/cardboard/resources/cardboard-managing.svg
  styles/designs/cardboard/resources/cardboard-road.svg
  styles/designs/cardboard/resources/cardboard-thumbsup.svg
  styles/output/intro-business-pdf.css
  styles/output/intro-business-pdf.css.map
  styles/templates/template3/_colors.scss
Labels: book:introduction.business

#2932 Style EoC Sections Intro Business
  styles/books/business-ethics/book.scss
  styles/books/intro-business/book.scss
  styles/designs/cardboard/parts/_lists-components.scss
  styles/designs/cardboard/parts/_lists-shapes.scss
  styles/designs/cardboard/parts/_titles-components.scss
  styles/designs/cardboard/parts/_titles-shapes.scss
  styles/designs/cardboard/resources/cardboard-address.svg
  styles/designs/cardboard/resources/cardboard-casestudy.svg
  styles/designs/cardboard/resources/cardboard-lightbulb.svg
  styles/designs/cardboard/resources/cardboard-net.svg
  styles/designs/corn/parts/_titles-shapes.scss
  styles/output/business-ethics-pdf.css
  styles/output/business-ethics-pdf.css.map
  styles/output/intro-business-pdf.css
  styles/output/intro-business-pdf.css.map
  styles/templates/template3/parts/_lists-settings.scss
  styles/templates/template3/parts/_titles-settings.scss
Labels: book:introduction.business

#3041 Index appendices intro business
  styles/books/intro-business/book.scss
  styles/output/intro-business-pdf.css
  styles/output/intro-business-pdf.css.map
Labels: book:introduction.business

#3060 implement styling for concepts-practice elements
  books.txt
  styles/books/accounting/book.scss
  styles/output/accounting-pdf.css
  styles/output/accounting-pdf.css.map
Labels: book:accounting, review:Alan, review:MaryJo

#3070 Style YourTurn Boxed Note
  styles/books/accounting/book.scss
  styles/output/accounting-pdf.css
  styles/output/accounting-pdf.css.map
Labels: book:accounting

#3057 Toc principles management
  styles/books/principles-management/book.scss
  styles/output/principles-management-pdf.css
  styles/output/principles-management-pdf.css.map
Labels: book:principles.management

#3059 implement introduction learning outcome styles
  styles/books/principles-management/book.scss
  styles/output/principles-management-pdf.css
  styles/output/principles-management-pdf.css.map
Labels: book:principles.management

#3064 implement headers principles-management
  styles/books/principles-management/book.scss
  styles/output/principles-management-pdf.css
  styles/output/principles-management-pdf.css.map
Labels: book:principles.management

#3065 style default tables pom
  styles/books/principles-management/book.scss
  styles/output/principles-management-pdf.css
  styles/output/principles-management-pdf.css.map
Labels: book:principles.management

#3067 style footnotes links blockquotes pom
  styles/books/principles-management/book.scss
  styles/output/principles-management-pdf.css
  styles/output/principles-management-pdf.css.map
Labels: book:principles.management

#3068 style references index
  styles/books/principles-management/book.scss
  styles/output/principles-management-pdf.css
  styles/output/principles-management-pdf.css.map
Labels: book:principles.management

#3071 style notes pom
  styles/books/intro-business/book.scss
  styles/books/principles-management/book.scss
  styles/designs/cardboard/parts/notes/_notes-components.scss
  styles/designs/cardboard/resources/cardboard-leadership.svg
  styles/designs/cardboard/resources/cardboard-sustainability.svg
  styles/output/principles-management-pdf.css
  styles/output/principles-management-pdf.css.map
Labels: book:principles.management
