Repository openstax/cnx-recipes, pull requests merged in 2020-09, with the labels that each got.

#2725 remove unused property
  styles/designs/corn/parts/_exercises-components.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
Labels: book:elementary.algebra.2e

#2738 Circled lists in coreq sections
  styles/designs/corn/parts/_lists-shapes.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
  styles/output/statistics-pdf.css
  styles/output/statistics-pdf.css.map
Labels: review:Alan

#2727 style equations elementary-algebra
  styles/books/dev-math/book.scss
  styles/books/statistics/book.scss
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/statistics-pdf.css
  styles/output/statistics-pdf.css.map
Labels: book:elementary.algebra.2e, book:hs.statistics, book:introductory.business.statistics, book:introductory.statistics

#2756 style formula review statistics
  styles/designs/corn/parts/notes/_notes-components.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
  styles/output/statistics-pdf.css
  styles/output/statistics-pdf.css.map
Labels: book:prealgebra.2e, type:bug

#2764 trash elements in first pass
  recipes/books/_generator.scss
  recipes/output/anatomy.css
  recipes/output/calculus.css
  recipes/output/dev-math.css
  recipes/output/pl-u-physics.css
  recipes/output/precalculus-coreq.css
  recipes/output/precalculus.css
  recipes/output/u-physics.css
Labels: review:Alan

#2771 Bookmark issue
  styles/designs/corn/parts/_titles-components.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
  styles/output/statistics-pdf.css
  styles/output/statistics-pdf.css.map
  styles/templates/template2/parts/_titles-settings.scss
Labels: book:hs.statistics, book:introductory.business.statistics, book:introductory.statistics, book:precalculus

#2777 EOS intructions nested lists
  styles/designs/corn/parts/_lists-components.scss
  styles/designs/corn/parts/_lists-shapes.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
  styles/output/statistics-pdf.css
  styles/output/statistics-pdf.css.map
Labels: book:college.algebra, book:collegealgebra.coreq

#2767 eoc solutions first elements
  recipes/books/statistics/_config.scss
  recipes/mixins/_modify.scss
  recipes/output/statistics.css
Labels: book:hs.statistics, impact:recipe.books

#2779 style lists hs statistics
  styles/designs/corn/parts/_lists-shapes.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
  styles/output/statistics-pdf.css
  styles/output/statistics-pdf.css.map
Labels: book:hs.statistics

#2790 Update precalculus-prod.css
  recipes/output/precalculus-prod.css
Labels: book:precalculus

#2792 Alpha-sort the lists in books.txt
  books.txt
  recipes/output/manifest.json
Labels: documentation

#2802 Create basic files cardboard theme
  books.txt
  styles/books/business-ethics/book.scss
  styles/designs/cardboard/pdf/_folio.scss
  styles/output/business-ethics-pdf.css
  styles/output/business-ethics-pdf.css.map
  styles/templates/template3/_colors.scss
  styles/templates/template3/_design.scss
  styles/templates/template3/_settings.scss
  styles/templates/template3/_typography.scss
Labels: book:business.ethics
