Repository openstax/cnx-recipes, pull requests merged in 2020-07, with the labels that each got.

#2452 style equations College Algebra
  styles/books/precalculus/book.scss
  styles/designs/corn/parts/_equation-components.scss
  styles/designs/corn/parts/_equation-shapes.scss
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
  styles/templates/template2/_design.scss
  styles/templates/template2/_settings.scss
  styles/templates/template2/parts/_equation-settings.scss
Labels: book:college.algebra

#2471 Issue 2356 corn chap outline
  books.txt
  recipes/books/precalculus-coreq/_config.scss
  recipes/books/precalculus/_config.scss
  recipes/output/precalculus-coreq.css
  recipes/output/precalculus.css
  styles/books/precalculus-coreq/book.scss
  styles/books/precalculus/book.scss
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
Labels: review:Alan

#2478 style figures prealgebra
  styles/books/dev-math/book.scss
  styles/designs/corn/parts/_caption-components.scss
  styles/designs/corn/parts/_figureimage-components.scss
  styles/designs/corn/parts/_figureimage-shapes.scss
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
  styles/templates/template2/_design.scss
  styles/templates/template2/_settings.scss
  styles/templates/template2/parts/_chapterintro-settings.scss
  styles/templates/template2/parts/_figureimage-settings.scss
  styles/templates/template2/parts/_table-settings.scss
Labels: book:prealgebra.2e

#2462 Eoc exercises prealgebra
  styles/books/dev-math/book.scss
  styles/designs/corn/parts/_titles-components.scss
  styles/designs/corn/parts/_titles-shapes.scss
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/templates/template2/parts/_exercises-settings.scss
  styles/templates/template2/parts/_titles-settings.scss
Labels: book:prealgebra.2e

#2456 style answerkey exercises prealgebra
  recipes/books/dev-math/_config.scss
  recipes/output/dev-math.css
  styles/books/dev-math/book.scss
  styles/designs/carnival/parts/_answerkey-shapes.scss
  styles/designs/carnival/parts/_exercises-components.scss
  styles/designs/carnival/parts/_exercises-shapes.scss
  styles/designs/common/pdf/_functions.scss
  styles/designs/corn/parts/_answerkey-components.scss
  styles/designs/corn/parts/_answerkey-shapes.scss
  styles/designs/corn/parts/_example-components.scss
  styles/designs/corn/parts/_exercises-components.scss
  styles/designs/corn/parts/_exercises-shapes.scss
  styles/designs/corn/parts/_lists-components.scss
  styles/designs/corn/parts/_lists-shapes.scss
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css.map
  styles/templates/template2/_colors.scss
  styles/templates/template2/_design.scss
  styles/templates/template2/_settings.scss
  styles/templates/template2/parts/_answerkey-settings.scss
  styles/templates/template2/parts/_exercises-settings.scss
  styles/templates/template2/parts/_lists-settings.scss
Labels: book:prealgebra.2e, theme:corn

#2476 style section exercises college algebra coreq
  recipes/books/precalculus-coreq/_config.scss
  recipes/books/precalculus/_config.scss
  recipes/output/precalculus-coreq.css
  recipes/output/precalculus.css
  styles/books/precalculus-coreq/book.scss
  styles/books/precalculus/book.scss
  styles/designs/corn/parts/_exercises-components.scss
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
Labels: book:college.algebra, book:collegealgebra.coreq

#2484 content titles for precalc + coreq
  styles/books/precalculus-coreq/book.scss
  styles/books/precalculus/book.scss
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
Labels: review:Alan

#2498 add list styling to icon box notes dev math and coreq
  concourse/pipeline.yml
  styles/designs/corn/parts/notes/_notes-iconBoxed-shapes.scss
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
Labels: review:Alan

#2502 Coreq tokens list
  styles/books/dev-math/book.scss
  styles/books/precalculus-coreq/book.scss
  styles/designs/corn/parts/_lists-components.scss
  styles/designs/corn/parts/_lists-shapes.scss
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
  styles/templates/template2/_colors.scss
  styles/templates/template2/parts/_lists-settings.scss
Labels: review:Alan

#2537 Style notes in precalculus
  recipes/books/precalculus/_config.scss
  recipes/output/precalculus.css
  styles/books/precalculus/book.scss
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
Labels: impact:recipe.books

#2543 support unnumbered splashes
  recipes/books/_generator.scss
  recipes/mixins/_compose.scss
  recipes/output/accounting.css
  recipes/output/american-government.css
  recipes/output/anatomy.css
  recipes/output/ap-biology.css
  recipes/output/ap-history.css
  recipes/output/ap-physics.css
  recipes/output/astronomy.css
  recipes/output/biology.css
  recipes/output/business-ethics.css
  recipes/output/calculus.css
  recipes/output/chemistry.css
  recipes/output/college-physics.css
  recipes/output/college-success.css
  recipes/output/dev-math.css
  recipes/output/economics.css
  recipes/output/entrepreneurship.css
  recipes/output/history.css
  recipes/output/hs-physics.css
  recipes/output/intro-business.css
  recipes/output/microbiology.css
  recipes/output/pl-u-physics.css
  recipes/output/precalculus-coreq.css
  recipes/output/precalculus.css
  recipes/output/principles-management.css
  recipes/output/psychology.css
  recipes/output/sociology.css
  recipes/output/statistics.css
  recipes/output/u-physics.css
Labels: review:Alan

#2553 Style learning objectives module titles in Calculus vol1, 2, 3
  styles/books/calculus/book.scss
  styles/designs/corn/parts/_learning-components.scss
  styles/designs/corn/parts/_learning-shapes.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/templates/template2/parts/_learning-settings.scss
Labels: book:calculus, book:calculus.2, book:calculus.3
