Repository openstax/cnx-recipes, pull requests merged in 2020-06, with the labels that each got.

#2397 Issue 2380 change footnote class to datatype
  recipes/mixins/_number.scss
  recipes/output/accounting.css
  recipes/output/american-government.css
  recipes/output/anatomy.css
  recipes/output/ap-biology.css
  recipes/output/ap-history.css
  recipes/output/ap-physics.css
  recipes/output/astronomy.css
  recipes/output/biology.css
  recipes/output/business-ethics.css
  recipes/output/calculus.css
  recipes/output/chemistry.css
  recipes/output/college-success.css
  recipes/output/dev-math.css
  recipes/output/economics.css
  recipes/output/entrepreneurship.css
  recipes/output/history.css
  recipes/output/hs-physics.css
  recipes/output/intro-business.css
  recipes/output/microbiology.css
  recipes/output/physics.css
  recipes/output/pl-u-physics.css
  recipes/output/precalculus.css
  recipes/output/principles-management.css
  recipes/output/psychology.css
  recipes/output/sociology.css
  recipes/output/statistics.css
  recipes/output/u-physics.css
  styles/designs/carnival/parts/_footnotes-components.scss
  styles/output/ap-biology-pdf.css
  styles/output/ap-biology-pdf.css.map
  styles/output/ap-physics-pdf.css
  styles/output/ap-physics-pdf.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/chemistry-pdf.css
  styles/output/chemistry-pdf.css.map
  styles/output/hs-physics-pdf.css
  styles/output/hs-physics-pdf.css.map
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
  styles/output/physics-pdf.css
  styles/output/physics-pdf.css.map
  styles/output/pl-u-physics-pdf.css
  styles/output/pl-u-physics-pdf.css.map
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
Labels: review:Alan

#2398 style column-header-table
  styles/books/dev-math/book.scss
  styles/designs/corn/parts/_table-components.scss
  styles/designs/corn/parts/_table-shapes.scss
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/templates/template2/parts/_table-settings.scss
Labels: book:prealgebra.2e

#2403 style unnumbered unstyled tables prealgebra
  styles/books/dev-math/book.scss
  styles/designs/corn/parts/_table-components.scss
  styles/designs/corn/parts/_table-shapes.scss
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/templates/template2/parts/_table-settings.scss
Labels: book:prealgebra.2e

#2434 style two column exercises with table and float
  recipes/books/dev-math/_config.scss
  recipes/output/dev-math.css
  styles/books/dev-math/book.scss
  styles/designs/common/pdf/_page-breaks.scss
  styles/designs/corn/parts/_exercises-components.scss
  styles/designs/corn/parts/_exercises-shapes.scss
  styles/designs/corn/parts/_figureimage-components.scss
  styles/designs/corn/parts/_lists-components.scss
  styles/designs/corn/parts/_table-components.scss
  styles/designs/corn/parts/_titles-components.scss
  styles/designs/corn/parts/_titles-shapes.scss
  styles/designs/corn/resources/corn-exercises.svg
  styles/output/anatomy-pdf.css
  styles/output/anatomy-pdf.css.map
  styles/output/ap-biology-pdf.css
  styles/output/ap-biology-pdf.css.map
  styles/output/ap-physics-pdf.css
  styles/output/ap-physics-pdf.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/chemistry-pdf.css
  styles/output/chemistry-pdf.css.map
  styles/output/college-physics-pdf.css
  styles/output/college-physics-pdf.css.map
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/hs-physics-pdf.css
  styles/output/hs-physics-pdf.css.map
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
  styles/output/physics-pdf.css
  styles/output/physics-pdf.css.map
  styles/output/pl-u-physics-pdf.css
  styles/output/pl-u-physics-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
  styles/templates/template2/_colors.scss
  styles/templates/template2/_design.scss
  styles/templates/template2/_settings.scss
  styles/templates/template2/parts/_exercises-settings.scss
  styles/templates/template2/parts/_table-settings.scss
  styles/templates/template2/parts/_titles-settings.scss
Labels: book:prealgebra.2e, impact:recipe.books

#2384 style chapter intro prealgebra
  recipes/books/_generator.scss
  recipes/books/_release.scss
  recipes/output/dev-math.css
  recipes/output/precalculus.css
  styles/books/dev-math/book.scss
  styles/designs/carnival/pdf/_folio.scss
  styles/designs/common/pdf/_functions.scss
  styles/designs/corn/parts/_caption-components.scss
  styles/designs/corn/parts/_chapterintro-components.scss
  styles/designs/corn/parts/_chapterintro-shapes.scss
  styles/designs/corn/parts/_titles-components.scss
  styles/designs/corn/parts/_titles-shapes.scss
  styles/designs/corn/pdf/folio.scss
  styles/designs/corn/resources/corn-introduction.svg
  styles/output/anatomy-pdf.css.map
  styles/output/ap-biology-pdf.css.map
  styles/output/ap-physics-pdf.css.map
  styles/output/biology-pdf.css.map
  styles/output/chemistry-pdf.css.map
  styles/output/college-physics-pdf.css.map
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/hs-physics-pdf.css.map
  styles/output/microbiology-pdf.css.map
  styles/output/physics-pdf.css.map
  styles/output/pl-u-physics-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
  styles/output/u-physics-pdf.css.map
  styles/templates/template1/_design.scss
  styles/templates/template2/_colors.scss
  styles/templates/template2/_design.scss
  styles/templates/template2/_settings.scss
  styles/templates/template2/parts/_chapterintro-settings.scss
  styles/templates/template2/parts/_titles-settings.scss
Labels: book:prealgebra.2e

#2414 add styles to appendices prealgebra
  styles/books/dev-math/book.scss
  styles/books/precalculus/book.scss
  styles/designs/corn/parts/_preface-components.scss
  styles/designs/corn/parts/_preface-shapes.scss
  styles/designs/corn/parts/_titles-components.scss
  styles/designs/corn/parts/_titles-shapes.scss
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
  styles/templates/template1/parts/titles-settings.scss
  styles/templates/template2/_colors.scss
  styles/templates/template2/_design.scss
  styles/templates/template2/_settings.scss
  styles/templates/template2/parts/_preface-settings.scss
  styles/templates/template2/parts/_titles-settings.scss
Labels: book:college.algebra, book:prealgebra.2e

#2405 add styles to key terms prealgebra
  styles/books/dev-math/book.scss
  styles/designs/corn/parts/_eoc-components.scss
  styles/designs/corn/parts/_eoc-shapes.scss
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-pdf.css.map
  styles/templates/template2/_design.scss
  styles/templates/template2/parts/_eoc-settings.scss
Labels: book:prealgebra.2e
