Repository openstax/cnx-recipes, pull requests merged in 2020-10, with the labels that each got.

#2818 style learning objectives
  styles/books/business-ethics/book.scss
  styles/designs/cardboard/parts/_learning-components.scss
  styles/designs/cardboard/parts/_learning-shapes.scss
  styles/designs/cardboard/parts/_lists-components.scss
  styles/designs/cardboard/parts/_titles-components.scss
  styles/output/business-ethics-pdf.css
  styles/output/business-ethics-pdf.css.map
  styles/templates/template3/_colors.scss
  styles/templates/template3/_design.scss
  styles/templates/template3/_settings.scss
  styles/templates/template3/parts/_learning-settings.scss
Labels: book:business.ethics

#2819 style toc business ethics
  styles/books/business-ethics/book.scss
  styles/designs/cardboard/parts/_toc-components.scss
  styles/designs/cardboard/parts/_toc-shapes.scss
  styles/designs/cardboard/resources/cardboard-toc2.svg
  styles/output/business-ethics-pdf.css
  styles/output/business-ethics-pdf.css.map
  styles/templates/template3/_colors.scss
  styles/templates/template3/_design.scss
  styles/templates/template3/_settings.scss
  styles/templates/template3/parts/_toc-settings.scss
Labels: book:business.ethics

#2823 style blockquotes business ethics
  styles/books/business-ethics/book.scss
  styles/designs/cardboard/parts/_blockquote-shapes.scss
  styles/designs/cardboard/parts/_blockquotes-components.scss
  styles/designs/cardboard/parts/_link-components.scss
  styles/designs/cardboard/parts/_link-shapes.scss
  styles/output/business-ethics-pdf.css
  styles/output/business-ethics-pdf.css.map
  styles/templates/template3/_colors.scss
  styles/templates/template3/_design.scss
  styles/templates/template3/_settings.scss
  styles/templates/template3/parts/_blockquote-settings.scss
  styles/templates/template3/parts/_link-settings.scss
Labels: book:business.ethics

#2830 style footnotes business ethics
  RELEASE_FLAGS.md
  recipes/books/_common-stuff.scss
  recipes/books/_generator.scss
  recipes/books/_release.scss
  recipes/books/business-ethics/_config.scss
  recipes/locale/pl/_common-stuff.scss
  recipes/mixins/_modify.scss
  recipes/mixins/_number.scss
  recipes/output/business-ethics.css
  styles/books/business-ethics/book.scss
  styles/designs/common/pdf/_footnotes-components.scss
  styles/output/business-ethics-pdf.css
  styles/output/business-ethics-pdf.css.map
  styles/templates/template3/_colors.scss
  styles/templates/template3/_settings.scss
  styles/templates/template3/parts/_footnotes-settings.scss
Labels: book:business.ethics, impact:recipe.books

#2850 Top titled tables business ethics
  books.txt
  recipes/books/_common-stuff.scss
  recipes/mixins/_modify.scss
  recipes/output/accounting.css
  recipes/output/american-government.css
  recipes/output/anatomy.css
  recipes/output/ap-biology.css
  recipes/output/ap-history.css
  recipes/output/ap-physics.css
  recipes/output/astronomy.css
  recipes/output/biology.css
  recipes/output/business-ethics.css
  recipes/output/calculus.css
  recipes/output/chemistry.css
  recipes/output/college-physics.css
  recipes/output/college-success.css
  recipes/output/dev-math.css
  recipes/output/economics.css
  recipes/output/entrepreneurship.css
  recipes/output/history.css
  recipes/output/hs-physics.css
  recipes/output/intro-business.css
  recipes/output/microbiology.css
  recipes/output/precalculus-coreq.css
  recipes/output/precalculus.css
  recipes/output/principles-management.css
  recipes/output/psychology.css
  recipes/output/sociology.css
  recipes/output/statistics.css
  recipes/output/u-physics.css
  styles/books/business-ethics/book.scss
  styles/designs/cardboard/parts/_caption-components.scss
  styles/designs/cardboard/parts/_table-components.scss
  styles/designs/cardboard/parts/_table-shapes.scss
  styles/designs/cardboard/parts/_titles-components.scss
  styles/output/business-ethics-pdf.css
  styles/output/business-ethics-pdf.css.map
  styles/templates/template3/_colors.scss
  styles/templates/template3/_design.scss
  styles/templates/template3/_settings.scss
  styles/templates/template3/parts/_figureimage-settings.scss
  styles/templates/template3/parts/_table-settings.scss
Labels: book:business.ethics

#2798 restyle circled lists column width answer key eos exercises
  styles/books/calculus/book.scss
  styles/books/dev-math/book.scss
  styles/books/precalculus-coreq/book.scss
  styles/books/precalculus/book.scss
  styles/designs/corn/parts/_lists-components.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
  styles/output/statistics-pdf.css
  styles/output/statistics-pdf.css.map
  styles/templates/template2/parts/_answerkey-settings.scss
  styles/templates/template2/parts/_exercises-settings.scss
  styles/templates/template2/parts/_lists-settings.scss
  styles/templates/template2/parts/_table-settings.scss
Labels: book:calculus, book:college.algebra, book:collegealgebra.coreq, book:prealgebra.2e, book:precalculus

#2870 learning objectives title regression
  styles/output/business-ethics-pdf.css
  styles/output/business-ethics-pdf.css.map
  styles/templates/template3/parts/_learning-settings.scss
Labels: book:business.ethics

#2883 Standardize folio filename
  RELEASE_FLAGS.md
  styles/designs/corn/pdf/_folio.scss
  styles/output/calculus-pdf.css.map
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css.map
  styles/output/statistics-pdf.css.map
Labels: review:Anna

#2859 Chapter intro business ethics
  recipes/books/_generator.scss
  recipes/output/business-ethics.css
  styles/books/business-ethics/book.scss
  styles/designs/cardboard/parts/_chapterintro-components.scss
  styles/designs/cardboard/parts/_chapterintro-shapes.scss
  styles/designs/cardboard/parts/_titles-components.scss
  styles/designs/cardboard/parts/_titles-shapes.scss
  styles/designs/cardboard/pdf/_folio.scss
  styles/designs/cardboard/resources/cardboard-intro2.svg
  styles/designs/cardboard/resources/cardboard-introskyline.svg
  styles/output/business-ethics-pdf.css
  styles/output/business-ethics-pdf.css.map
  styles/templates/template3/_colors.scss
  styles/templates/template3/_design.scss
  styles/templates/template3/_settings.scss
  styles/templates/template3/parts/_chapterintro-settings.scss
  styles/templates/template3/parts/_titles-settings.scss
Labels: book:business.ethics
