Repository openstax/cnx-recipes, pull requests merged in 2020-04, with the labels that each got.

#2120 Add chemistry af and concepts biology to template
  books.txt
Labels: review:Alan

#2123 Flags pl u-physics
  RELEASE_FLAGS.md
  recipes/books/_release.scss
  recipes/output/pl-u-physics.css
Labels: review:Alan

#2062 remove additional chapter label section headers answerkey
  recipes/books/_common-stuff.scss
  recipes/mixins/_compose.scss
  recipes/output/accounting.css
  recipes/output/american-government.css
  recipes/output/ap-physics.css
  recipes/output/business-ethics.css
  recipes/output/calculus.css
  recipes/output/chemistry.css
  recipes/output/dev-math.css
  recipes/output/economics.css
  recipes/output/history.css
  recipes/output/microbiology.css
  recipes/output/precalculus.css
  recipes/output/u-physics.css
  styles/designs/carnival/parts/_answerkey-components.scss
Labels: book:chemistry.2e, book:microbiology, book:university.physics, review:BrittanyJ

#2132 Remove dotted line in the eoc
  recipes/output/pl-u-physics.css
  styles/designs/carnival/parts/_toc-components.scss
  styles/output/anatomy-pdf.css
  styles/output/anatomy-pdf.css.map
  styles/output/ap-biology-pdf.css
  styles/output/ap-biology-pdf.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/chemistry-pdf.css
  styles/output/chemistry-pdf.css.map
  styles/output/hs-physics-pdf.css
  styles/output/hs-physics-pdf.css.map
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
  styles/output/physics-pdf.css
  styles/output/physics-pdf.css.map
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
Labels: baked.styles, review:Alan

#2106 Issue-1869 -- broaden fake top-title styling to all carnival books
  recipes/books/hs-physics/_config.scss
  recipes/books/microbiology/_config.scss
  recipes/books/u-physics/_config.scss
  recipes/output/hs-physics.css
  recipes/output/microbiology.css
  recipes/output/u-physics.css
  styles/books/ap-biology/book.scss
  styles/books/hs-physics/book.scss
  styles/books/microbiology/book.scss
  styles/books/u-physics/book.scss
  styles/output/ap-biology-pdf.css
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
  styles/templates/template1/_colors.scss
Labels: review:BrittanyJ

#2136 Continue cleanup
  RELEASE_FLAGS.md
  recipes/books/_release.scss
  recipes/books/u-physics/_config.scss
  recipes/output/u-physics.css
  styles/books/anatomy/book.scss
  styles/books/ap-biology/book.scss
  styles/books/biology/book.scss
  styles/books/hs-physics/book.scss
  styles/books/physics/book.scss
  styles/books/u-physics/book.scss
  styles/designs/carnival/parts/_eoc-shapes.scss
  styles/designs/carnival/parts/_exercises-components.scss
  styles/designs/carnival/parts/_exercises-shapes.scss
  styles/output/ap-biology-pdf.css
  styles/output/ap-biology-pdf.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/chemistry-pdf.css
  styles/output/chemistry-pdf.css.map
  styles/output/hs-physics-pdf.css
  styles/output/hs-physics-pdf.css.map
  styles/output/physics-pdf.css
  styles/output/physics-pdf.css.map
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
  styles/templates/template1/parts/_eoc-settings.scss
Labels: review:Anna

#2140 Update shapes in anatomy
  RELEASE_FLAGS.md
  recipes/books/_release.scss
  recipes/books/anatomy/_config.scss
  recipes/output/anatomy.css
  styles/books/anatomy/book.scss
  styles/output/anatomy-pdf.css
  styles/output/anatomy-pdf.css.map
  styles/templates/template1/parts/_eoc-settings.scss
  styles/templates/template1/parts/_references-settings.scss
Labels: review:Anna

#2177 style-case-in-poin-note-microbiology
  styles/books/microbiology/book.scss
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
  styles/templates/template1/_colors.scss
Labels: book:microbiology

#2174 add book specific colors eoc headers biology
  styles/books/biology/book.scss
  styles/output/ap-biology-pdf.css
  styles/output/biology-pdf.css
Labels: book:biology.2e

#2165 sections margins in exercises
  styles/books/anatomy/book.scss
  styles/books/ap-biology/book.scss
  styles/books/biology/book.scss
  styles/books/chemistry/book.scss
  styles/books/hs-physics/book.scss
  styles/books/microbiology/book.scss
  styles/books/physics/book.scss
  styles/books/u-physics/book.scss
  styles/designs/carnival/parts/_exercises-shapes.scss
  styles/designs/carnival/parts/_generic-components.scss
  styles/output/anatomy-pdf.css
  styles/output/anatomy-pdf.css.map
  styles/output/ap-biology-pdf.css
  styles/output/ap-biology-pdf.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/chemistry-pdf.css
  styles/output/chemistry-pdf.css.map
  styles/output/hs-physics-pdf.css
  styles/output/hs-physics-pdf.css.map
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
  styles/output/physics-pdf.css
  styles/output/physics-pdf.css.map
  styles/output/pl-u-physics-pdf.css
  styles/output/pl-u-physics-pdf.css.map
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
Labels: baked.styles, book:anatomy.and.physiology, book:ap.biology, book:biology.2e, book:chemistry.2e, book:college.physics, book:microbiology, book:physics, book:university.physics

#2175 Set font-size, family example answer title chemistry
  styles/books/chemistry/book.scss
  styles/designs/carnival/parts/notes/_notes-components.scss
  styles/output/anatomy-pdf.css
  styles/output/anatomy-pdf.css.map
  styles/output/ap-biology-pdf.css
  styles/output/ap-biology-pdf.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/chemistry-pdf.css
  styles/output/chemistry-pdf.css.map
  styles/output/hs-physics-pdf.css
  styles/output/hs-physics-pdf.css.map
  styles/output/physics-pdf.css
  styles/output/physics-pdf.css.map
  styles/output/pl-u-physics-pdf.css
  styles/output/pl-u-physics-pdf.css.map
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
Labels: book:chemistry.2e

#2183 Color bands microbiology
  styles/books/microbiology/book.scss
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
Labels: book:microbiology

#2246 enabling flags
  RELEASE_FLAGS.md
  recipes/books/_release.scss
  recipes/output/accounting.css
  recipes/output/american-government.css
  recipes/output/ap-history.css
  recipes/output/ap-physics.css
  recipes/output/astronomy.css
  recipes/output/business-ethics.css
  recipes/output/calculus.css
  recipes/output/dev-math.css
  recipes/output/economics.css
  recipes/output/entrepreneurship.css
  recipes/output/history.css
  recipes/output/intro-business.css
  recipes/output/pl-u-physics.css
  recipes/output/precalculus.css
  recipes/output/principles-management.css
  recipes/output/psychology.css
  recipes/output/sociology.css
  recipes/output/statistics.css
Labels: review:Anna

#2249 change toc design fizyka
  styles/books/pl-u-physics/book.scss
  styles/designs/carnival/parts/_toc-components.scss
  styles/output/pl-u-physics-pdf.css
  styles/output/pl-u-physics-pdf.css.map
  styles/templates/template1/parts/_toc-settings.scss
Labels: book:fizyka

#2248 one column layout key-equations
  styles/books/pl-u-physics/book.scss
  styles/output/pl-u-physics-pdf.css
  styles/output/pl-u-physics-pdf.css.map
Labels: book:fizyka

#2254 style lists preface pl-u-physics-vol1
  styles/designs/carnival/parts/_lists-components.scss
  styles/designs/carnival/parts/_preface-shapes.scss
  styles/output/anatomy-pdf.css
  styles/output/anatomy-pdf.css.map
  styles/output/ap-biology-pdf.css
  styles/output/ap-biology-pdf.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/chemistry-pdf.css
  styles/output/chemistry-pdf.css.map
  styles/output/hs-physics-pdf.css
  styles/output/hs-physics-pdf.css.map
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
  styles/output/physics-pdf.css
  styles/output/physics-pdf.css.map
  styles/output/pl-u-physics-pdf.css
  styles/output/pl-u-physics-pdf.css.map
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
Labels: book:fizyka

#2258 Change border bottom color in Fake Titled Tables
  styles/books/anatomy/book.scss
  styles/books/biology/book.scss
  styles/books/chemistry/book.scss
  styles/books/hs-physics/book.scss
  styles/books/microbiology/book.scss
  styles/books/physics/book.scss
  styles/books/u-physics/book.scss
  styles/output/anatomy-pdf.css
  styles/output/anatomy-pdf.css.map
  styles/output/ap-biology-pdf.css
  styles/output/ap-biology-pdf.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/chemistry-pdf.css
  styles/output/chemistry-pdf.css.map
  styles/output/hs-physics-pdf.css
  styles/output/hs-physics-pdf.css.map
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
  styles/output/physics-pdf.css
  styles/output/physics-pdf.css.map
  styles/output/pl-u-physics-pdf.css
  styles/output/pl-u-physics-pdf.css.map
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
  styles/templates/template1/parts/_table-settings.scss
Labels: baked.styles, book:biology.2e
