Repository openstax/cnx-recipes, pull requests merged in 2020-12, with the labels that each got.

#3072 Implement colored text emphasis in R1 for accounting
  styles/books/accounting/book.scss
  styles/design-settings/cardboard/_colors.scss
  styles/design-settings/cardboard/_design.scss
  styles/designs/common/pdf/_common-components.scss
  styles/designs/common/pdf/_common-shapes.scss
  styles/output/accounting-pdf.css
  styles/output/accounting-pdf.css.map
Labels: book:accounting

#3092 implements answer key styling for accounting
  styles/books/accounting/book.scss
  styles/design-settings/cardboard/parts/_answerkey-settings.scss
  styles/design-settings/cardboard/parts/_titles-settings.scss
  styles/designs/cardboard/parts/_answerkey-components.scss
  styles/designs/cardboard/parts/_answerkey-shapes.scss
  styles/designs/cardboard/parts/_titles-shapes.scss
  styles/output/accounting-pdf.css
  styles/output/accounting-pdf.css.map
Labels: book:accounting, theme:cardboard

#3084 style eoc exercises pom
  styles/books/business-ethics/book.scss
  styles/books/principles-management/book.scss
  styles/design-settings/cardboard/_settings.scss
  styles/design-settings/cardboard/parts/_exercises-settings.scss
  styles/designs/cardboard/resources/cardboard-managedecisions.svg
  styles/designs/cardboard/resources/cardboard-managegroup.svg
  styles/output/business-ethics-pdf.css.map
  styles/output/entrepreneurship-pdf.css.map
  styles/output/intro-business-pdf.css.map
  styles/output/principles-management-pdf.css
  styles/output/principles-management-pdf.css.map
Labels: book:principles.management

#3087 Introduction page entrepreneurship
  styles/books/entrepreneurship/book.scss
  styles/output/entrepreneurship-pdf.css
  styles/output/entrepreneurship-pdf.css.map
Labels: book:entrepreneurship

#3096 style learning objectives entrepreneurship
  styles/books/entrepreneurship/book.scss
  styles/output/entrepreneurship-pdf.css
  styles/output/entrepreneurship-pdf.css.map
Labels: book:entrepreneurship

#3108 style case questions entrepreneurship
  styles/books/entrepreneurship/book.scss
  styles/output/entrepreneurship-pdf.css
  styles/output/entrepreneurship-pdf.css.map
Labels: book:entrepreneurship

#3112 adds Think It Through Styling
  styles/books/accounting/book.scss
  styles/output/accounting-pdf.css
  styles/output/accounting-pdf.css.map
Labels: book:accounting

#3125 style summary section for accounting
  styles/books/accounting/book.scss
  styles/output/accounting-pdf.css
  styles/output/accounting-pdf.css.map
Labels: book:accounting

#3127 style index for accounting
  styles/books/accounting/book.scss
  styles/output/accounting-pdf.css
  styles/output/accounting-pdf.css.map
Labels: book:accounting

#3075 Fixes the cardboard ToC by adding missing styles; implements ToC for Accounting
  styles/books/accounting/book.scss
  styles/designs/cardboard/parts/_toc-components.scss
  styles/designs/cardboard/parts/_toc-shapes.scss
  styles/output/accounting-pdf.css
  styles/output/accounting-pdf.css.map
  styles/output/intro-business-pdf.css
  styles/output/intro-business-pdf.css.map
Labels: book:accounting, book:introduction.business, review:BrittanyJ, theme:cardboard

#3124 style key terms section in accounting
  styles/books/accounting/book.scss
  styles/output/accounting-pdf.css
  styles/output/accounting-pdf.css.map
Labels: book:accounting

#3131 style blockquotes college success
  styles/books/college-success/book.scss
  styles/output/college-success-pdf.css
  styles/output/college-success-pdf.css.map
Labels: book:college.success

#3133 style application note college success
  styles/books/college-success/book.scss
  styles/output/business-ethics-pdf.css
  styles/output/business-ethics-pdf.css.map
  styles/output/college-success-pdf.css
  styles/output/college-success-pdf.css.map
  styles/output/entrepreneurship-pdf.css
  styles/output/entrepreneurship-pdf.css.map
  styles/output/principles-management-pdf.css
  styles/output/principles-management-pdf.css.map
Labels: book:college.success

#3134 style activity note college-success
  styles/books/college-success/book.scss
  styles/designs/cardboard/resources/cardboard-activity.svg
  styles/output/college-success-pdf.css
  styles/output/college-success-pdf.css.map
Labels: book:college.success

#3132 style student profile note college success
  styles/books/college-success/book.scss
  styles/designs/cardboard/parts/notes/_notes-boxed-shapes.scss
  styles/output/college-success-pdf.css
  styles/output/college-success-pdf.css.map
Labels: book:college.success

#3126 style introduction page college success
  styles/books/accounting/book.scss
  styles/books/business-ethics/book.scss
  styles/books/college-success/book.scss
  styles/books/entrepreneurship/book.scss
  styles/books/intro-business/book.scss
  styles/books/principles-management/book.scss
  styles/designs/cardboard/parts/_titles-components.scss
  styles/designs/cardboard/resources/cardboard-introcampus.svg
  styles/output/accounting-pdf.css
  styles/output/accounting-pdf.css.map
  styles/output/business-ethics-pdf.css
  styles/output/business-ethics-pdf.css.map
  styles/output/college-success-pdf.css
  styles/output/college-success-pdf.css.map
  styles/output/entrepreneurship-pdf.css
  styles/output/entrepreneurship-pdf.css.map
  styles/output/intro-business-pdf.css
  styles/output/intro-business-pdf.css.map
  styles/output/principles-management-pdf.css
  styles/output/principles-management-pdf.css.map
Labels: book:college.success

#3139 style toc college success
  styles/books/college-success/book.scss
  styles/output/college-success-pdf.css
  styles/output/college-success-pdf.css.map
Labels: book:college.success

#3119 style accounting notes
  styles/books/accounting/book.scss
  styles/output/accounting-pdf.css
  styles/output/accounting-pdf.css.map
Labels: book:accounting

#3141 style index for college-success
  styles/books/college-success/book.scss
  styles/output/college-success-pdf.css
  styles/output/college-success-pdf.css.map
Labels: book:college.success

#3142 style get connected note for college success
  styles/books/college-success/book.scss
  styles/output/college-success-pdf.css
  styles/output/college-success-pdf.css.map
Labels: book:college.success

#3143 Style EoC sections for college success
  styles/books/college-success/book.scss
  styles/designs/cardboard/resources/cardboard-mountainup.svg
  styles/output/college-success-pdf.css
  styles/output/college-success-pdf.css.map
Labels: book:college.success

#3140 style whats students note college success
  styles/books/college-success/book.scss
  styles/designs/cardboard/parts/_lists-shapes.scss
  styles/designs/cardboard/resources/cardboard-groupbubble.svg
  styles/output/accounting-pdf.css
  styles/output/accounting-pdf.css.map
  styles/output/business-ethics-pdf.css
  styles/output/business-ethics-pdf.css.map
  styles/output/college-success-pdf.css
  styles/output/college-success-pdf.css.map
  styles/output/entrepreneurship-pdf.css
  styles/output/entrepreneurship-pdf.css.map
  styles/output/intro-business-pdf.css
  styles/output/intro-business-pdf.css.map
  styles/output/principles-management-pdf.css
  styles/output/principles-management-pdf.css.map
Labels: book:college.success

#3150 Analysis note shape fix college success
  styles/books/college-success/book.scss
  styles/output/college-success-pdf.css
  styles/output/college-success-pdf.css.map
Labels: book:college.success

#3144 Style eoc exercises for accounting (no LO links)
  styles/books/accounting/book.scss
  styles/designs/cardboard/parts/_exercises-components.scss
  styles/designs/cardboard/parts/_exercises-shapes.scss
  styles/designs/cardboard/resources/cardboard-exercisea.svg
  styles/designs/cardboard/resources/cardboard-exerciseb.svg
  styles/designs/cardboard/resources/cardboard-multiplechoice.svg
  styles/output/accounting-pdf.css
  styles/output/accounting-pdf.css.map
  styles/output/business-ethics-pdf.css
  styles/output/business-ethics-pdf.css.map
  styles/output/entrepreneurship-pdf.css
  styles/output/entrepreneurship-pdf.css.map
  styles/output/principles-management-pdf.css
  styles/output/principles-management-pdf.css.map
Labels: book:accounting

#3149 style unstyled tables college success
  styles/books/college-success/book.scss
  styles/design-settings/cardboard/parts/_table-settings.scss
  styles/designs/cardboard/parts/_table-components.scss
  styles/designs/cardboard/parts/_table-shapes.scss
  styles/output/college-success-pdf.css
  styles/output/college-success-pdf.css.map
Labels: book:college.success

#3156 fix endnotes styling
  styles/designs/cardboard/parts/_eoc-components.scss
  styles/designs/cardboard/parts/_eoc-shapes.scss
  styles/output/business-ethics-pdf.css
  styles/output/business-ethics-pdf.css.map
Labels: review:Alan

#3157 add astronomy to template create basic file
  books.txt
  recipes/output/astronomy.css
  styles/books/astronomy/book.scss
  styles/output/astronomy-pdf.css
  styles/output/astronomy-pdf.css.map
Labels: book:astronomy

#3161 style toc for astronomy
  styles/books/astronomy/book.scss
  styles/design-settings/cardboard/_colors.scss
  styles/designs/cardboard/resources/cardboard-toc1.svg
  styles/output/astronomy-pdf.css
  styles/output/astronomy-pdf.css.map
Labels: book:astronomy

#3178 styles page additional lists
  styles/designs/cardboard/parts/_lists-shapes.scss
  styles/output/accounting-pdf.css
  styles/output/accounting-pdf.css.map
  styles/output/business-ethics-pdf.css
  styles/output/business-ethics-pdf.css.map
  styles/output/entrepreneurship-pdf.css
  styles/output/entrepreneurship-pdf.css.map
  styles/output/intro-business-pdf.css
  styles/output/intro-business-pdf.css.map
  styles/output/principles-management-pdf.css
  styles/output/principles-management-pdf.css.map
Labels: book:principles.management

#3179 Style learning objectives for astronomy
  yarn.lock
Labels: book:astronomy

#3203 Style voyagers note for astronomy
  styles/books/astronomy/book.scss
  styles/design-settings/cardboard/_colors.scss
  styles/designs/cardboard/resources/cardboard-voyager.svg
  styles/output/astronomy-pdf.css
  styles/output/astronomy-pdf.css.map
Labels: book:astronomy

#3204 Style summary in astronomy
  styles/books/astronomy/book.scss
  styles/design-settings/cardboard/_colors.scss
  styles/designs/cardboard/resources/cardboard-summary2.svg
  styles/output/astronomy-pdf.css
  styles/output/astronomy-pdf.css.map
Labels: book:astronomy

#3195 style accounting bands
  styles/books/accounting/book.scss
  styles/output/accounting-pdf.css
  styles/output/accounting-pdf.css.map
Labels: book:accounting, review.request:1

#3205 Style key terms astronomy
  styles/books/astronomy/book.scss
  styles/designs/cardboard/resources/cardboard-keyterms2.svg
  styles/output/astronomy-pdf.css
  styles/output/astronomy-pdf.css.map
Labels: book:astronomy

#3162 Introduction Astronomy
  styles/books/astronomy/book.scss
  styles/design-settings/cardboard/_colors.scss
  styles/designs/cardboard/resources/cardboard-intro1.svg
  styles/designs/cardboard/resources/cardboard-introtelescope.svg
  styles/output/astronomy-pdf.css
  styles/output/astronomy-pdf.css.map
  styles/output/business-ethics-pdf.css.map
  styles/output/college-success-pdf.css.map
  styles/output/entrepreneurship-pdf.css.map
  styles/output/intro-business-pdf.css.map
  styles/output/principles-management-pdf.css.map
Labels: book:astronomy
