Repository openstax/cnx-recipes, pull requests merged in 2020-08, with the labels that each got.

#2548 Style Introduction page in Calculus vol1,2,3
  styles/books/calculus/book.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
Labels: book:calculus, book:calculus.2, book:calculus.3, review:Alan

#2556 Style unnumbered numbered equations calculus
  recipes/books/calculus/_config.scss
  recipes/output/calculus.css
  styles/books/calculus/book.scss
  styles/designs/corn/parts/_equation-components.scss
  styles/designs/corn/parts/_equation-shapes.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/templates/template2/_colors.scss
  styles/templates/template2/parts/_equation-settings.scss
Labels: book:calculus, book:calculus.2, book:calculus.3

#2560 style theorem note
  styles/books/calculus/book.scss
  styles/designs/corn/parts/notes/_notes-boxed-shapes.scss
  styles/designs/corn/parts/notes/_notes-components.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
Labels: book:calculus, book:calculus.2, book:calculus.3

#2564 style student project note calculus
  styles/books/calculus/book.scss
  styles/designs/corn/parts/notes/_notes-boxed-shapes.scss
  styles/designs/corn/parts/notes/_notes-components.scss
  styles/designs/corn/parts/notes/_notes-outlinedBoxed-shapes.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css.map
  styles/templates/template2/_colors.scss
  styles/templates/template2/_design.scss
Labels: book:calculus, book:calculus.2, book:calculus.3

#2572 style media note calculus
  styles/books/calculus/book.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/output/statistics-pdf.css.map
Labels: book:calculus, book:calculus.2, book:calculus.3

#2576 style index appendices preface
  styles/books/calculus/book.scss
  styles/designs/corn/parts/_lists-shapes.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
Labels: book:calculus, book:calculus.2, book:calculus.3

#2562 style problem solving note calculus
  recipes/books/calculus/_config.scss
  recipes/output/calculus.css
  styles/books/calculus/book.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/templates/template2/_colors.scss
Labels: book:calculus, book:calculus.2, book:calculus.3, impact:recipe.books

#2584 Eoc exercises calculus
  recipes/books/calculus/_config.scss
  recipes/output/calculus.css
  styles/books/calculus/book.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
Labels: book:calculus, book:calculus.2, book:calculus.3

#2586 Answer key calculus
  styles/books/calculus/book.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
  styles/templates/template2/parts/_answerkey-settings.scss
Labels: book:calculus, book:calculus.2, book:calculus.3, book:collegealgebra.coreq, book:prealgebra.2e, book:precalculus

#2590 style section exercises calculus
  styles/books/calculus/book.scss
  styles/designs/corn/parts/_exercises-shapes.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
Labels: book:calculus, book:calculus.2, book:calculus.3

#2570 style examples in Calculus
  styles/books/calculus/book.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/output/statistics-pdf.css
Labels: book:calculus, book:calculus.2, book:calculus.3

#2593 style figures tables in statistics
  styles/books/statistics/book.scss
  styles/output/statistics-pdf.css
  styles/output/statistics-pdf.css.map
Labels: book:hs.statistics, book:introductory.business.statistics, book:introductory.statistics

#2597 Style icon boxed notes in Statistics
  recipes/books/_generator.scss
  recipes/books/statistics/_config.scss
  recipes/output/statistics.css
  styles/books/statistics/book.scss
  styles/designs/corn/parts/notes/_notes-components.scss
  styles/designs/corn/parts/notes/_notes-iconBoxed-shapes.scss
  styles/designs/corn/resources/corn-calculator.svg
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
  styles/output/statistics-pdf.css
  styles/output/statistics-pdf.css.map
  styles/templates/template2/_colors.scss
Labels: impact:recipe.books

#2594 Style introduction page in Statistics
  styles/books/statistics/book.scss
  styles/designs/corn/parts/_chapterintro-components.scss
  styles/designs/corn/parts/_chapterintro-shapes.scss
  styles/designs/corn/parts/_learning-components.scss
  styles/designs/corn/parts/_learning-shapes.scss
  styles/designs/corn/parts/_titles-components.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
  styles/output/statistics-pdf.css
  styles/output/statistics-pdf.css.map
  styles/templates/template2/parts/_learning-settings.scss
Labels: review:Alan

#2599 style Stats Lab feature statistics
  recipes/books/statistics/_config.scss
  recipes/output/statistics.css
  styles/books/statistics/book.scss
  styles/designs/corn/parts/notes/_notes-components.scss
  styles/designs/corn/parts/notes/_notes-iconFullPage-shapes.scss
  styles/designs/corn/resources/corn-statlab.svg
  styles/output/calculus-pdf.css.map
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css.map
  styles/output/statistics-pdf.css
  styles/output/statistics-pdf.css.map
  styles/templates/template2/_colors.scss
  styles/templates/template2/_design.scss
Labels: book:introductory.statistics

#2602 style examples statistics
  recipes/books/statistics/_config.scss
  recipes/output/statistics.css
  styles/books/statistics/book.scss
  styles/designs/corn/parts/_example-shapes.scss
  styles/designs/corn/parts/_lists-shapes.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
  styles/output/statistics-pdf.css
  styles/output/statistics-pdf.css.map
Labels: book:hs.statistics, book:introductory.business.statistics, book:introductory.statistics

#2605 style footnotes statistics
  styles/books/biology/book.scss
  styles/books/chemistry/book.scss
  styles/books/college-physics/book.scss
  styles/books/dev-math/book.scss
  styles/books/hs-physics/book.scss
  styles/books/microbiology/book.scss
  styles/books/precalculus-coreq/book.scss
  styles/books/precalculus/book.scss
  styles/books/statistics/book.scss
  styles/books/u-physics/book.scss
  styles/designs/common/pdf/_footnotes-components.scss
  styles/designs/common/pdf/_footnotes-shapes.scss
  styles/output/statistics-pdf.css
  styles/output/statistics-pdf.css.map
  styles/templates/template1/parts/_footnotes-settings.scss
  styles/templates/template2/parts/_footnotes-settings.scss
Labels: book:hs.statistics, book:introductory.business.statistics, book:introductory.statistics

#2607 style key terms statistics
  styles/books/statistics/book.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
  styles/output/statistics-pdf.css
  styles/output/statistics-pdf.css.map
  styles/templates/template2/parts/_eoc-settings.scss
Labels: book:hs.statistics, book:introductory.business.statistics, book:introductory.statistics

#2610 Chapter review statistics
  styles/books/statistics/book.scss
  styles/designs/corn/parts/_lists-shapes.scss
  styles/designs/corn/parts/_titles-components.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
  styles/output/statistics-pdf.css
  styles/output/statistics-pdf.css.map
  styles/templates/template2/parts/_titles-settings.scss
Labels: book:hs.statistics, book:introductory.business.statistics, book:introductory.statistics

#2616 style eoc exercises statistics
  recipes/books/statistics/_config.scss
  recipes/output/statistics.css
  styles/books/statistics/book.scss
  styles/designs/corn/parts/_exercises-components.scss
  styles/designs/corn/parts/_exercises-shapes.scss
  styles/designs/corn/parts/_lists-shapes.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
  styles/output/statistics-pdf.css
  styles/output/statistics-pdf.css.map
  styles/templates/template2/parts/_exercises-settings.scss
Labels: book:hs.statistics, book:introductory.business.statistics, book:introductory.statistics

#2626 Formula review statistics
  styles/books/statistics/book.scss
  styles/designs/corn/parts/_answerkey-shapes.scss
  styles/designs/corn/parts/_caption-components.scss
  styles/designs/corn/parts/_eoc-components.scss
  styles/designs/corn/parts/_eoc-shapes.scss
  styles/designs/corn/parts/_exercises-shapes.scss
  styles/designs/corn/parts/_table-components.scss
  styles/designs/corn/parts/_titles-components.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
  styles/output/statistics-pdf.css
  styles/output/statistics-pdf.css.map
  styles/templates/template2/parts/_answerkey-settings.scss
  styles/templates/template2/parts/_eoc-settings.scss
  styles/templates/template2/parts/_exercises-settings.scss
  styles/templates/template2/parts/_table-settings.scss
Labels: book:hs.statistics, book:introductory.business.statistics, book:introductory.statistics

#2691 change hasCaption condition
  recipes/books/statistics/_config.scss
  recipes/output/statistics.css
Labels: book:hs.statistics

#2692 change paragrap title selector exercises
  styles/designs/corn/parts/_exercises-components.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
Labels: book:collegealgebra.coreq

#2698 style nested lists key concepts calculusvol2
  styles/designs/corn/parts/_lists-shapes.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
  styles/output/statistics-pdf.css
  styles/output/statistics-pdf.css.map
Labels: book:calculus.2, review:Alan

#2722 Fix NoClassNote title gap in Stats EOC
  styles/books/statistics/book.scss
  styles/designs/corn/parts/notes/_notes-components.scss
  styles/output/calculus-pdf.css
  styles/output/calculus-pdf.css.map
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
  styles/output/statistics-pdf.css
  styles/output/statistics-pdf.css.map
Labels: book:college.statistics, type:bug
