Repository openstax/cnx-recipes, pull requests merged in 2021-07, with the labels that each got.

#3942 poli sci - Remove iframes & adjust figure margins
  styles/books/political-science/book.scss
  styles/designs/cosmos/parts/_figureimage-components.scss
  styles/designs/cosmos/parts/_figureimage-shapes.scss
  styles/output/philosophy-pdf.css
  styles/output/philosophy-pdf.css.map
  styles/output/political-science-pdf.css
  styles/output/political-science-pdf.css.map
Labels: review.request:1

#3974 Add GitHub actions
  .github/workflows/tests.yml
  .python-version
  .travis.yml
  script/build-recipes
Labels: type:maintenance

#3991 create specific selector handbook page toc link eng comp
  recipes/mixins/_toc.scss
  recipes/output/accounting.css
  recipes/output/additive-manufacturing.css
  recipes/output/american-government.css
  recipes/output/anatomy.css
  recipes/output/anthropology.css
  recipes/output/ap-biology.css
  recipes/output/ap-history.css
  recipes/output/ap-physics.css
  recipes/output/astronomy.css
  recipes/output/bca.css
  recipes/output/biology.css
  recipes/output/business-ethics.css
  recipes/output/calculus.css
  recipes/output/chemistry.css
  recipes/output/college-physics.css
  recipes/output/college-success.css
  recipes/output/computer-science.css
  recipes/output/contemporary-math.css
  recipes/output/dev-math.css
  recipes/output/economics.css
  recipes/output/english-composition.css
  recipes/output/entrepreneurship.css
  recipes/output/finance.css
  recipes/output/history.css
  recipes/output/hs-physics.css
  recipes/output/intro-business.css
  recipes/output/microbiology.css
  recipes/output/pl-psychology.css
  recipes/output/pl-u-physics.css
  recipes/output/precalculus-coreq.css
  recipes/output/precalculus.css
  recipes/output/principles-management.css
  recipes/output/psychology.css
  recipes/output/sociology.css
  recipes/output/statistics.css
  recipes/output/u-physics.css
  recipes/output/world-history.css
Labels: book:english.composition

#3997 Update key terms summary links lists to carnival in anthropology
  styles/books/anthropology/book.scss
  styles/output/anthropology-pdf.css
  styles/output/anthropology-pdf.css.map
Labels: book:introduction.anthropology

#4005 upadate footnote styling to carnival anthropology
  styles/books/anthropology/book.scss
  styles/output/anthropology-pdf.css
  styles/output/anthropology-pdf.css.map
Labels: book:introduction.anthropology
