Repository openstax/cnx-recipes, pull requests merged in 2021-11, with the labels that each got.

#4223 fix injected exercises lists cosmos theme
  styles/design-settings/cosmos/parts/_lists-settings.scss
  styles/output/american-government-pdf.css
  styles/output/american-government-pdf.css.map
  styles/output/economics-pdf.css
  styles/output/economics-pdf.css.map
  styles/output/history-pdf.css
  styles/output/history-pdf.css.map
  styles/output/philosophy-pdf.css
  styles/output/philosophy-pdf.css.map
  styles/output/pl-psychology-pdf.css
  styles/output/pl-psychology-pdf.css.map
  styles/output/political-science-pdf.css
  styles/output/political-science-pdf.css.map
  styles/output/psychology-pdf.css
  styles/output/psychology-pdf.css.map
  styles/output/sociology-pdf.css
  styles/output/sociology-pdf.css.map
  styles/output/world-history-pdf.css
  styles/output/world-history-pdf.css.map
Labels: book:world.history, theme:cosmos

#4246 english composition writing guide: annotation text color
  styles/design-settings/cosmos/_colors.scss
  styles/output/english-composition-pdf.css
Labels: book:english.comp.writing.guide

#4254 4218 finance toc
  styles/designs/cardboard/parts/_toc-components.scss
  styles/output/finance-pdf.css
  styles/output/finance-pdf.css.map
Labels: review.request:1
