Repository openstax/cnx-recipes, pull requests merged in 2021-03, with the labels that each got.

#3576 change figure caption number title label pl-psychology
  styles/books/pl-psychology/book.scss
  styles/design-settings/cosmos/_colors.scss
  styles/output/pl-psychology-pdf.css
Labels: book:psychologia

#3606 rework recipe anthropology
  RELEASE_FLAGS.md
  books.txt
  recipes/books/_release.scss
  recipes/books/anthropology/_config.scss
  recipes/books/anthropology/styleguide/book.composite.critical-thinking.snippet.xml
  recipes/books/anthropology/styleguide/book.composite.further-research.snippet.xml
  recipes/books/anthropology/styleguide/book.composite.key-terms.snippet.xml
  recipes/books/anthropology/styleguide/book.composite.references.snippet.xml
  recipes/books/anthropology/styleguide/book.composite.section-quiz.snippet.xml
  recipes/books/anthropology/styleguide/book.composite.section-summary.snippet.xml
  recipes/books/anthropology/styleguide/book.composite.short-answer.snippet.xml
  recipes/books/anthropology/styleguide/book.composite.solutions.snippet.xml
  recipes/books/anthropology/styleguide/page.note.ethnographic-sketches.snippet.xml
  recipes/books/anthropology/styleguide/page.note.fieldwork-activity.snippet.xml
  recipes/books/anthropology/styleguide/page.note.media-podcast.snippet.xml
  recipes/books/anthropology/styleguide/page.note.media-video.snippet.xml
  recipes/books/anthropology/styleguide/page.note.profiles-anthropology.snippet.xml
  recipes/books/anthropology/styleguide/page.note.sociological-research.snippet.xml
  recipes/books/anthropology/styleguide/page.note.sociology-big-picture.snippet.xml
  recipes/books/anthropology/styleguide/page.note.sociology-policy-debate.snippet.xml
  recipes/books/anthropology/styleguide/page.note.sociology-real-world.snippet.xml
  recipes/output/anthropology.css
  recipes/output/manifest.json
  styles/books/anthropology/book.scss
  styles/output/anthropology-pdf.css
  styles/output/anthropology-pdf.css.map
Labels: book:introduction.anthropology

#3575 change color palette introduction page pl-psychology
  styles/books/pl-psychology/book.scss
  styles/design-settings/cosmos/_colors.scss
  styles/design-settings/cosmos/parts/_titles-settings.scss
  styles/designs/cosmos/parts/_titles-components.scss
  styles/designs/cosmos/pdf/locale/pl/_folio.scss
  styles/output/american-government-pdf.css
  styles/output/american-government-pdf.css.map
  styles/output/anthropology-pdf.css
  styles/output/anthropology-pdf.css.map
  styles/output/economics-pdf.css
  styles/output/economics-pdf.css.map
  styles/output/history-pdf.css
  styles/output/history-pdf.css.map
  styles/output/pl-psychology-pdf.css
  styles/output/pl-psychology-pdf.css.map
  styles/output/psychology-pdf.css
  styles/output/psychology-pdf.css.map
  styles/output/sociology-pdf.css
  styles/output/sociology-pdf.css.map
Labels: book:psychologia

#3627 change references title anthropology
  recipes/books/anthropology/_config.scss
  recipes/output/anthropology.css
Labels: book:introduction.anthropology

#3625 style Critical Thinking Questionsa Anthropology
  styles/books/anthropology/book.scss
  styles/output/anthropology-pdf.css
  styles/output/anthropology-pdf.css.map
Labels: book:introduction.anthropology

#3666 Basic files for world-history
  .github/ISSUE_TEMPLATE/CHANGE_TEMPLATE.md
  books.txt
  recipes/books/_release.scss
  recipes/books/world-history/_config.scss
  recipes/books/world-history/book.scss
  recipes/books/world-history/styleguide/book.composite.critical-thinking.snippet.xml
  recipes/books/world-history/styleguide/book.composite.key-terms.snippet.xml
  recipes/books/world-history/styleguide/book.composite.review-questions.snippet.xml
  recipes/books/world-history/styleguide/book.composite.summary.snippet.xml
  recipes/books/world-history/styleguide/page.note.beyond-book.snippet.xml
  recipes/books/world-history/styleguide/page.note.dueling-voices.snippet.xml
  recipes/books/world-history/styleguide/page.note.link-to-learning.snippet.xml
  recipes/books/world-history/styleguide/page.note.own-words.snippet.xml
  recipes/books/world-history/styleguide/page.note.past-present.snippet.xml
  recipes/output/manifest.json
  recipes/output/world-history.css
  styles/books/world-history/book.scss
  styles/output/world-history-pdf.css
  styles/output/world-history-pdf.css.map
Labels: book:world.history

#3668 Style chapter introductions & headers for world history
  styles/books/world-history/book.scss
  styles/output/world-history-pdf.css
  styles/output/world-history-pdf.css.map
Labels: book:world.history

#3675 Style notes for world history
  styles/books/world-history/book.scss
  styles/designs/cosmos/parts/_lists-components.scss
  styles/designs/cosmos/parts/notes/_notes-boxed-shapes.scss
  styles/output/american-government-pdf.css
  styles/output/american-government-pdf.css.map
  styles/output/economics-pdf.css
  styles/output/economics-pdf.css.map
  styles/output/history-pdf.css
  styles/output/history-pdf.css.map
  styles/output/psychology-pdf.css
  styles/output/psychology-pdf.css.map
  styles/output/sociology-pdf.css
  styles/output/sociology-pdf.css.map
  styles/output/world-history-pdf.css
  styles/output/world-history-pdf.css.map
Labels: book:world.history

#3691 style eoc for world history
  recipes/books/world-history/_config.scss
  recipes/output/world-history.css
  styles/books/world-history/book.scss
  styles/output/world-history-pdf.css
  styles/output/world-history-pdf.css.map
Labels: book:world.history

#3704 Style end of book for world history
  recipes/books/world-history/_config.scss
  recipes/output/world-history.css
  styles/books/world-history/book.scss
  styles/design-settings/cosmos/_design.scss
  styles/design-settings/cosmos/_settings.scss
  styles/design-settings/cosmos/parts/_appendixglossary-settings.scss
  styles/designs/cosmos/parts/_appendixglossary-components.scss
  styles/designs/cosmos/parts/_appendixglossary-shapes.scss
  styles/output/world-history-pdf.css
  styles/output/world-history-pdf.css.map
Labels: book:world.history

#3714 Style toc, figures, and blockquote for world history
  recipes/books/world-history/_config.scss
  recipes/output/world-history.css
  styles/books/world-history/book.scss
  styles/output/world-history-pdf.css
  styles/output/world-history-pdf.css.map
Labels: book:world.history

#3715 style tables for world history
  styles/books/world-history/book.scss
  styles/design-settings/cosmos/parts/_table-settings.scss
  styles/designs/cosmos/parts/_table-components.scss
  styles/designs/cosmos/parts/_table-shapes.scss
  styles/output/american-government-pdf.css
  styles/output/american-government-pdf.css.map
  styles/output/anthropology-pdf.css
  styles/output/anthropology-pdf.css.map
  styles/output/economics-pdf.css
  styles/output/economics-pdf.css.map
  styles/output/english-composition-pdf.css
  styles/output/english-composition-pdf.css.map
  styles/output/history-pdf.css
  styles/output/history-pdf.css.map
  styles/output/pl-psychology-pdf.css
  styles/output/pl-psychology-pdf.css.map
  styles/output/psychology-pdf.css
  styles/output/psychology-pdf.css.map
  styles/output/sociology-pdf.css
  styles/output/sociology-pdf.css.map
  styles/output/world-history-pdf.css
  styles/output/world-history-pdf.css.map
Labels: book:world.history

#3716 Style centered text & footnotes for world history
  styles/books/world-history/book.scss
  styles/designs/common/pdf/_common-components.scss
  styles/designs/common/pdf/_common-shapes.scss
  styles/output/world-history-pdf.css
  styles/output/world-history-pdf.css.map
Labels: book:world.history

#3718 Style learning objectives for world history
  recipes/books/_common-stuff.scss
  recipes/books/_generator.scss
  recipes/books/accounting/_config.scss
  recipes/books/world-history/_config.scss
  recipes/locale/pl/_common-stuff.scss
  recipes/output/world-history.css
  styles/books/world-history/book.scss
  styles/design-settings/cosmos/parts/_learning-settings.scss
  styles/designs/cosmos/parts/_learning-components.scss
  styles/designs/cosmos/parts/_learning-shapes.scss
  styles/designs/cosmos/parts/_lists-components.scss
  styles/output/world-history-pdf.css
  styles/output/world-history-pdf.css.map
Labels: book:world.history

#3721 Fix selector for appendix glossary
  styles/design-settings/cosmos/parts/_appendixglossary-settings.scss
  styles/output/world-history-pdf.css
  styles/output/world-history-pdf.css.map
Labels: book:world.history

#3730 Fixes for world history
  styles/books/world-history/book.scss
  styles/design-settings/cosmos/parts/_chapterintro-settings.scss
  styles/designs/cosmos/parts/_caption-components.scss
  styles/designs/cosmos/parts/_chapterintro-shapes.scss
  styles/designs/cosmos/parts/_lists-shapes.scss
  styles/output/american-government-pdf.css
  styles/output/american-government-pdf.css.map
  styles/output/anthropology-pdf.css
  styles/output/anthropology-pdf.css.map
  styles/output/economics-pdf.css
  styles/output/economics-pdf.css.map
  styles/output/english-composition-pdf.css
  styles/output/english-composition-pdf.css.map
  styles/output/history-pdf.css
  styles/output/history-pdf.css.map
  styles/output/pl-psychology-pdf.css
  styles/output/pl-psychology-pdf.css.map
  styles/output/psychology-pdf.css
  styles/output/psychology-pdf.css.map
  styles/output/sociology-pdf.css
  styles/output/sociology-pdf.css.map
  styles/output/world-history-pdf.css
  styles/output/world-history-pdf.css.map
Labels: book:world.history
