Repository openstax/cnx-recipes, pull requests merged in 2021-12, with the labels that each got.

#4248 increase double underline width
  styles/designs/cosmos/parts/_underline-components.scss
  styles/output/accounting-pdf.css
  styles/output/accounting-pdf.css.map
  styles/output/astronomy-pdf.css
  styles/output/astronomy-pdf.css.map
  styles/output/bca-pdf.css
  styles/output/bca-pdf.css.map
  styles/output/business-ethics-pdf.css
  styles/output/business-ethics-pdf.css.map
  styles/output/college-success-pdf.css
  styles/output/college-success-pdf.css.map
  styles/output/computer-science-pdf.css
  styles/output/computer-science-pdf.css.map
  styles/output/english-composition-pdf.css
  styles/output/english-composition-pdf.css.map
  styles/output/entrepreneurship-pdf.css
  styles/output/entrepreneurship-pdf.css.map
  styles/output/intro-business-pdf.css
  styles/output/intro-business-pdf.css.map
  styles/output/philosophy-pdf.css
  styles/output/philosophy-pdf.css.map
  styles/output/political-science-pdf.css
  styles/output/political-science-pdf.css.map
  styles/output/principles-management-pdf.css
  styles/output/principles-management-pdf.css.map
Labels: book:english.comp.writing.guide

#4287 create blockquote shape carnival
  styles/books/anthropology/book.scss
  styles/books/biology/book.scss
  styles/books/chemistry/book.scss
  styles/books/college-physics/book.scss
  styles/books/hs-physics/book.scss
  styles/books/microbiology/book.scss
  styles/books/pl-u-physics/book.scss
  styles/books/u-physics/book.scss
  styles/design-settings/carnival/_design.scss
  styles/design-settings/carnival/_settings.scss
  styles/design-settings/carnival/parts/_blockquote-settings.scss
  styles/designs/carnival/parts/_blockquote-components.scss
  styles/designs/carnival/parts/_blockquote-shapes.scss
  styles/output/anthropology-pdf.css
  styles/output/ap-biology-pdf.css
  styles/output/ap-physics-pdf.css
  styles/output/biology-pdf.css
  styles/output/chemistry-pdf.css
  styles/output/college-physics-pdf.css
  styles/output/hs-physics-pdf.css
  styles/output/microbiology-pdf.css
  styles/output/pl-u-physics-pdf.css
  styles/output/u-physics-pdf.css
Labels: book:introduction.anthropology

#4290 English learning subtitles
  styles/books/english-composition/book.scss
  styles/designs/cosmos/parts/notes/_notes-components.scss
  styles/designs/cosmos/parts/notes/_notes-iconned-shapes.scss
  styles/output/english-composition-pdf.css
Labels: review.request:1

#4293 create folio handbook page string
  styles/designs/cosmos/pdf/_folio.scss
  styles/output/american-government-pdf.css
  styles/output/economics-pdf.css
  styles/output/english-composition-pdf.css
  styles/output/history-pdf.css
  styles/output/philosophy-pdf.css
  styles/output/political-science-pdf.css
  styles/output/psychology-pdf.css
  styles/output/sociology-pdf.css
  styles/output/world-history-pdf.css
Labels: book:english.comp.writing.guide, theme:cosmos

#4297 world-history: capitalize unit title
  styles/books/world-history/book.scss
  styles/design-settings/cosmos/parts/_toc-settings.scss
  styles/designs/cosmos/parts/_toc-components.scss
  styles/output/world-history-pdf.css
Labels: book:world.history
