Repository openstax/cnx-recipes, pull requests merged in 2021-01, with the labels that each got.

#3291 Style unstyled tables accounting
  styles/books/accounting/book.scss
  styles/output/accounting-pdf.css
  styles/output/accounting-pdf.css.map
Labels: book:accounting

#3222 LO styling for accounting
  styles/books/accounting/book.scss
  styles/designs/cardboard/parts/_link-components.scss
  styles/designs/cardboard/parts/_link-shapes.scss
  styles/designs/cardboard/resources/cardboard-lo.svg
  styles/output/accounting-pdf.css
  styles/output/accounting-pdf.css.map
Labels: book:accounting

#3298 change page size A4
  styles/designs/carnival/pdf/locale/pl/_folio.scss
  styles/output/pl-u-physics-pdf.css
  styles/output/pl-u-physics-pdf.css.map
Labels: book:fizyka

#3293 style seeing for yourself note astronomy
  styles/books/astronomy/book.scss
  styles/design-settings/cardboard/_colors.scss
  styles/designs/cardboard/resources/cardboard-telescope.svg
  styles/output/astronomy-pdf.css
  styles/output/astronomy-pdf.css.map
Labels: book:astronomy

#3296 style link to learning note astronomy
  styles/books/astronomy/book.scss
  styles/books/intro-business/book.scss
  styles/design-settings/cardboard/_colors.scss
  styles/designs/cardboard/resources/cardboard-link.svg
  styles/output/astronomy-pdf.css
  styles/output/astronomy-pdf.css.map
Labels: book:astronomy

#3299 style making connections note astronomy
  styles/books/astronomy/book.scss
  styles/designs/cardboard/resources/cardboard-connection.svg
  styles/output/astronomy-pdf.css
  styles/output/astronomy-pdf.css.map
Labels: book:astronomy

#3300 style astronomy basics note
  styles/books/astronomy/book.scss
  styles/designs/cardboard/resources/cardboard-planet.svg
  styles/output/astronomy-pdf.css
  styles/output/astronomy-pdf.css.map
Labels: book:astronomy

#3304 style exercises astronomy
  styles/books/astronomy/book.scss
  styles/designs/cardboard/parts/_titles-shapes.scss
  styles/designs/cardboard/resources/cardboard-assessments2.svg
  styles/output/astronomy-pdf.css
  styles/output/astronomy-pdf.css.map
Labels: book:astronomy

#3321 style figures for sociology
  styles/books/sociology/book.scss
  styles/design-settings/cosmos/_colors.scss
  styles/design-settings/cosmos/_design.scss
  styles/design-settings/cosmos/_settings.scss
  styles/design-settings/cosmos/parts/_figureimage-settings.scss
  styles/designs/cosmos/parts/_caption-components.scss
  styles/designs/cosmos/parts/_figureimage-components.scss
  styles/designs/cosmos/parts/_figureimage-shapes.scss
  styles/output/sociology-pdf.css
  styles/output/sociology-pdf.css.map
Labels: book:introduction.sociology.2e

#3307 style headers sociology
  styles/books/sociology/book.scss
  styles/design-settings/cosmos/_colors.scss
  styles/design-settings/cosmos/_design.scss
  styles/design-settings/cosmos/_settings.scss
  styles/design-settings/cosmos/parts/_figureimage-settings.scss
  styles/design-settings/cosmos/parts/_lists-settings.scss
  styles/design-settings/cosmos/parts/_titles-settings.scss
  styles/designs/cosmos/parts/_caption-components.scss
  styles/designs/cosmos/parts/_figureimage-components.scss
  styles/designs/cosmos/parts/_figureimage-shapes.scss
  styles/designs/cosmos/parts/_lists-components.scss
  styles/designs/cosmos/parts/_lists-shapes.scss
  styles/designs/cosmos/parts/_titles-components.scss
  styles/designs/cosmos/parts/_titles-shapes.scss
  styles/designs/cosmos/parts/_wrappers-components.scss
  styles/output/sociology-pdf.css
  styles/output/sociology-pdf.css.map
Labels: book:introduction.sociology.2e

#3370 fix titles exercises sociology
  styles/books/sociology/book.scss
  styles/output/sociology-pdf.css
  styles/output/sociology-pdf.css.map
Labels: review.request:1

#3329 style sociology in the real world note
  styles/books/sociology/book.scss
  styles/design-settings/cosmos/_colors.scss
  styles/design-settings/cosmos/_design.scss
  styles/designs/cosmos/parts/notes/_notes-components.scss
  styles/designs/cosmos/parts/notes/_notes-iconned-shapes.scss
  styles/designs/cosmos/resources/cosmos-world.svg
  styles/output/sociology-pdf.css
  styles/output/sociology-pdf.css.map
Labels: book:introduction.sociology.2e

#3331 style social policy and debate notes for sociology
  styles/books/sociology/book.scss
  styles/design-settings/cosmos/_colors.scss
  styles/designs/cosmos/parts/notes/_notes-components.scss
  styles/designs/cosmos/resources/cosmos-debate.svg
  styles/output/sociology-pdf.css
  styles/output/sociology-pdf.css.map
Labels: book:introduction.sociology.2e

#3332 style sociological research note
  styles/books/sociology/book.scss
  styles/design-settings/cosmos/_colors.scss
  styles/design-settings/cosmos/_design.scss
  styles/design-settings/cosmos/_typography.scss
  styles/designs/cosmos/parts/notes/_notes-boxed-shapes.scss
  styles/designs/cosmos/parts/notes/_notes-components.scss
  styles/output/sociology-pdf.css
  styles/output/sociology-pdf.css.map
Labels: book:introduction.sociology.2e

#3333 style big picture note in sociology
  styles/books/sociology/book.scss
  styles/design-settings/cosmos/_colors.scss
  styles/output/sociology-pdf.css
  styles/output/sociology-pdf.css.map
Labels: book:introduction.sociology.2e

#3367 Page Headers Americam Government
  styles/books/american-government/book.scss
  styles/output/american-government-pdf.css
  styles/output/american-government-pdf.css.map
Labels: book:american.government.2e

#3381 style link to learning note american government
  styles/books/american-government/book.scss
  styles/design-settings/cosmos/_colors.scss
  styles/design-settings/cosmos/_design.scss
  styles/designs/cosmos/parts/notes/_notes-components.scss
  styles/designs/cosmos/parts/notes/_notes-conndensed-icon-shapes.scss
  styles/designs/cosmos/resources/carnival-linktolearning.svg
  styles/output/american-government-pdf.css
  styles/output/american-government-pdf.css.map
  styles/output/sociology-pdf.css
  styles/output/sociology-pdf.css.map
Labels: book:american.government.2e

#3390 style boxen notes american government
  styles/books/american-government/book.scss
  styles/design-settings/cosmos/_colors.scss
  styles/output/american-government-pdf.css
  styles/output/american-government-pdf.css.map
Labels: book:american.government.2e

#3397 add psychology to cosmos theme
  books.txt
  recipes/output/psychology.css
  styles/books/psychology/book.scss
  styles/output/psychology-pdf.css
  styles/output/psychology-pdf.css.map
Labels: book:psychology.2e

#3398 Toc psychology
  styles/books/psychology/book.scss
  styles/output/psychology-pdf.css
  styles/output/psychology-pdf.css.map
Labels: book:psychology.2e

#3391 style iconned note american government
  styles/books/american-government/book.scss
  styles/books/sociology/book.scss
  styles/design-settings/cosmos/parts/_lists-settings.scss
  styles/designs/cosmos/parts/_lists-shapes.scss
  styles/designs/cosmos/parts/notes/_notes-components.scss
  styles/designs/cosmos/resources/cosmos-connected.svg
  styles/output/american-government-pdf.css
  styles/output/american-government-pdf.css.map
  styles/output/sociology-pdf.css
  styles/output/sociology-pdf.css.map
Labels: book:american.government.2e

#3424 Introduction page learning objectives psychology
  styles/books/american-government/book.scss
  styles/books/psychology/book.scss
  styles/design-settings/cosmos/parts/_learning-settings.scss
  styles/designs/cosmos/parts/_learning-components.scss
  styles/designs/cosmos/parts/_learning-shapes.scss
  styles/output/psychology-pdf.css
  styles/output/psychology-pdf.css.map
Labels: book:psychology.2e

#3407 style top titled tables american government
  recipes/books/american-government/_config.scss
  recipes/output/american-government.css
  styles/books/american-government/book.scss
  styles/books/sociology/book.scss
  styles/design-settings/cosmos/parts/_table-settings.scss
  styles/designs/cosmos/parts/_table-shapes.scss
  styles/designs/cosmos/parts/_titles-components.scss
  styles/output/american-government-pdf.css
  styles/output/american-government-pdf.css.map
  styles/output/sociology-pdf.css
  styles/output/sociology-pdf.css.map
Labels: book:american.government.2e

#3432 style boxed notes psychology
  styles/books/psychology/book.scss
  styles/output/psychology-pdf.css
  styles/output/psychology-pdf.css.map
Labels: book:psychology.2e

#3433 style top titled tables psychology
  recipes/books/psychology/_config.scss
  recipes/output/psychology.css
  styles/books/psychology/book.scss
  styles/output/psychology-pdf.css
  styles/output/psychology-pdf.css.map
Labels: book:psychology.2e

#3438 add us history to cosmos theme
  books.txt
  recipes/output/history.css
  styles/books/history/book.scss
  styles/output/history-pdf.css
  styles/output/history-pdf.css.map
Labels: book:us.history
