Repository openstax/cnx-recipes, pull requests merged in 2021-02, with the labels that each got.

#3439 style toc us history
  styles/books/history/book.scss
  styles/output/history-pdf.css
  styles/output/history-pdf.css.map
Labels: book:us.history

#3450 fix folio additive-manufactoring
  styles/books/additive-manufacturing/book.scss
  styles/output/additive-manufacturing-pdf.css
  styles/output/additive-manufacturing-pdf.css.map
Labels: book:additive.manufacturing

#3443 style figures us history
  styles/books/history/book.scss
  styles/output/history-pdf.css
  styles/output/history-pdf.css.map
Labels: book:us.history

#3464 add principles economics to template
  books.txt
  recipes/output/economics.css
  styles/books/economics/book.scss
  styles/output/economics-pdf.css
  styles/output/economics-pdf.css.map
Labels: book:principles.economics.2e

#3465 style toc principles economics
  styles/books/economics/book.scss
  styles/output/economics-pdf.css
  styles/output/economics-pdf.css.map
Labels: book:principles.economics.2e

#3494 style noxed iconned notes economics
  styles/books/economics/book.scss
  styles/design-settings/cosmos/_colors.scss
  styles/designs/cosmos/parts/notes/_notes-components.scss
  styles/designs/cosmos/resources/cosmos-coin.svg
  styles/output/american-government-pdf.css
  styles/output/american-government-pdf.css.map
  styles/output/economics-pdf.css
  styles/output/economics-pdf.css.map
  styles/output/psychology-pdf.css
  styles/output/psychology-pdf.css.map
  styles/output/sociology-pdf.css
  styles/output/sociology-pdf.css.map
Labels: book:principles.economics.2e

#3500 enalble wrap embeded phet links to be visible apphysics
  recipes/books/ap-physics/_config.scss
  recipes/output/ap-physics.css
Labels: book:ap.physics

#3491 style introduction page economics
  recipes/books/economics/_config.scss
  recipes/output/economics.css
  styles/books/economics/book.scss
  styles/books/history/book.scss
  styles/books/pl-psychology/book.scss
  styles/books/psychology/book.scss
  styles/design-settings/cosmos/_colors.scss
  styles/design-settings/cosmos/parts/_blockquote-settings.scss
  styles/design-settings/cosmos/parts/_chapterintro-settings.scss
  styles/design-settings/cosmos/parts/_learning-settings.scss
  styles/design-settings/cosmos/parts/_titles-settings.scss
  styles/designs/cosmos/parts/_chapterintro-components.scss
  styles/designs/cosmos/parts/_chapterintro-shapes.scss
  styles/designs/cosmos/parts/_learning-components.scss
  styles/designs/cosmos/parts/_learning-shapes.scss
  styles/designs/cosmos/parts/_lists-shapes.scss
  styles/designs/cosmos/parts/_titles-shapes.scss
  styles/designs/cosmos/resources/cosmos-home.svg
  styles/output/american-government-pdf.css
  styles/output/american-government-pdf.css.map
  styles/output/economics-pdf.css
  styles/output/economics-pdf.css.map
  styles/output/history-pdf.css
  styles/output/history-pdf.css.map
  styles/output/pl-psychology-pdf.css
  styles/output/pl-psychology-pdf.css.map
  styles/output/psychology-pdf.css
  styles/output/psychology-pdf.css.map
  styles/output/sociology-pdf.css
  styles/output/sociology-pdf.css.map
Labels: book:principles.economics.2e, book:psychology.2e, book:us.history

#3537 Style page lists in College and Ap Physics
  styles/books/college-physics/book.scss
  styles/output/ap-physics-pdf.css
  styles/output/ap-physics-pdf.css.map
  styles/output/college-physics-pdf.css
  styles/output/college-physics-pdf.css.map
Labels: review.request:2

#3549 style blockquotes economics
  styles/books/economics/book.scss
  styles/output/economics-pdf.css
  styles/output/economics-pdf.css.map
Labels: book:principles.economics.2e

#3534 add padding footnote call
  RELEASE_FLAGS.md
  recipes/books/_release.scss
  recipes/output/microbiology.css
  styles/designs/common/pdf/_footnotes-components.scss
  styles/designs/common/pdf/_footnotes-shapes.scss
  styles/output/accounting-pdf.css
  styles/output/accounting-pdf.css.map
  styles/output/additive-manufacturing-pdf.css
  styles/output/additive-manufacturing-pdf.css.map
  styles/output/ap-biology-pdf.css
  styles/output/ap-biology-pdf.css.map
  styles/output/ap-physics-pdf.css
  styles/output/ap-physics-pdf.css.map
  styles/output/astronomy-pdf.css
  styles/output/astronomy-pdf.css.map
  styles/output/biology-pdf.css
  styles/output/biology-pdf.css.map
  styles/output/business-ethics-pdf.css
  styles/output/business-ethics-pdf.css.map
  styles/output/chemistry-pdf.css
  styles/output/chemistry-pdf.css.map
  styles/output/college-physics-pdf.css
  styles/output/college-physics-pdf.css.map
  styles/output/college-success-pdf.css
  styles/output/college-success-pdf.css.map
  styles/output/dev-math-pdf.css
  styles/output/dev-math-pdf.css.map
  styles/output/economics-pdf.css
  styles/output/economics-pdf.css.map
  styles/output/entrepreneurship-pdf.css
  styles/output/entrepreneurship-pdf.css.map
  styles/output/history-pdf.css
  styles/output/history-pdf.css.map
  styles/output/hs-physics-pdf.css
  styles/output/hs-physics-pdf.css.map
  styles/output/intro-business-pdf.css
  styles/output/intro-business-pdf.css.map
  styles/output/microbiology-pdf.css
  styles/output/microbiology-pdf.css.map
  styles/output/pl-u-physics-pdf.css
  styles/output/pl-u-physics-pdf.css.map
  styles/output/precalculus-coreq-pdf.css
  styles/output/precalculus-coreq-pdf.css.map
  styles/output/precalculus-pdf.css
  styles/output/precalculus-pdf.css.map
  styles/output/principles-management-pdf.css
  styles/output/principles-management-pdf.css.map
  styles/output/statistics-pdf.css
  styles/output/statistics-pdf.css.map
  styles/output/u-physics-pdf.css
  styles/output/u-physics-pdf.css.map
Labels: book:microbiology
